%projNavSides {
    position: absolute;
    max-width: none;
    white-space: nowrap;
    height: $safeArea*3;
}

$navSpeed: 250ms;

.proj {
    position: relative;
    width: 100%;
    background: $clrDark;
    color: $clrLight;
    margin: 0 0 $safeArea*2;
    display: none;
    height: auto;

    &Nav {
        position: relative;
        height: $safeArea*3+$safeArea/2;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        padding: $safeArea/2 0;

        &-pivot {
            position: absolute;
            width: 2px;
            height: 10px;
            background: red;
            background: transparent;
            left: 0;
            transition: translateX(0px);
            transition: transform $navSpeed ease;
        }

        &-left {
            @extend %projNavSides;
            right: 0;
        }

        &-right {
            @extend %projNavSides;
            left: 0;
        }

        &-btn {
            color: $clrPrimarySoft;
            font-size: $fontS;
            height: $safeArea*2;
            vertical-align: bottom;
            padding-top: $safeArea/2;
            margin-left: 9vw;
            transition: color $navSpeed ease, font $navSpeed ease, padding $navSpeed ease;

            &:hover {
                animation: glitch 2s steps(100) infinite;
            }
        }

        .js-active {
            color: $clrWhite;
            font-size: $fontLx;
            padding-top: 0;
        }
    }

    &Cont {
        position: relative;

        &-left,
        &-right {
            width: 100%;
        }

        &-right {
            position: relative;
            z-index: 2;
        }

        &-media,
        &-about {
            width: 100%;
        }

        &-links {
            width: 100%;
            padding: $safeArea 0 0 $safeArea;
            font-size: $fontS;
            @include cf;
            margin-top: -$safeArea*2.5;

            &-option {
                &:not(:last-of-type) {
                    margin-bottom: $safeArea;
                    margin-right: $safeArea;
                }

                &:first-of-type {
                    margin-bottom: $safeArea;
                }
            }
        }

        &-descript {
            position: relative;
            max-width: $chatBotWidth;
            color: $clrGrayLight;

        }

        &-intro {
            font-size: $fontLx;
            padding: 0 $safeArea $safeArea/2;
            color: $clrLight;

        }

        &-details {
            padding: $safeArea/2 $safeArea*2 $safeArea;
            line-height: $lineHeightL;
        }

        &-about {
            @extend %cf;
            font-size: $fontXS;
            display: block;
            padding: $safeArea/2 $safeArea;
            border-top: 1px solid $clrGray;
        }

        &-role {
            float: left;
        }

        &-date {
            float: right;
            text-transform: lowercase;
        }

        &-team {
            width: 100%;
            text-align: left;
            font-size: $fontXS;
        }


    }

    @include media(phablet) {
        &Cont {

            &-intro {
                padding-top: $safeArea/2;
            }

            &-details {
                padding-left: $safeArea*5;
                padding-right: $safeArea;
                padding-bottom: $safeArea*2;
            }
        }
    }

    @include media(tablet) {
        overflow: hidden;
        background: transparent;

        &Nav {
            padding-top: $safeArea/4*3;
            height: $safeArea*4;
            z-index: 3;
            background: $clrDark;
        }

        &Cont {
            @extend %cf-tab;

            &-left {
                position: absolute;
                width: 100%;
                height: 100%;
            }


            &-right {
                position: relative;
                display: inline-block;
                float: right;
                margin: $safeArea*2 10vw $safeArea*4 0;
                padding: 0 $safeArea;
                min-width: rem(350);
                width: 30%;
                max-width: rem(400);
                z-index: 2;

                &::before {
                    content: '';
                    top: 0; bottom: 0;
                    left: 0; right: 0;
                    position: absolute;
                    z-index: -1;
                    background: $clrDark;
                    opacity: 0.8;
                    transition: opacity $speed/2;
                }

                &:hover:before {
                    opacity: 0.95;
                }
            }


            &-links {
                display: inline-block;
                margin: 0;
                padding: 0;

                > :last-child:not(:first-child) {
                    margin-left: $safeArea;
                }

                &-option {
                    display: inline-block;
                    &:not(:last-of-type) {
                        margin: 0;
                    }
                }
            }

            &-media {
                height: 100%;
                max-width: none;
                padding: 0;
                display: block;
            }

            &-intro {
                padding: 0;
                padding-top: $safeArea;
                font-size: $fontXL;
            }

            &-details {
                margin: 0;
                padding: $safeArea/2 0;
                line-height: $lineHeightL;
            }

            &-about {
                padding-left: 0;
                padding-right: 0;

            }

        }
    }

    @include media(laptop) {
        &Cont {
            &-right {
                margin: $safeArea*3 10vw $safeArea*5 0;
            }
        }
    }

    @include media(desktop) {
        &Cont {
            &-right {
                margin: $safeArea*4 10vw $safeArea*6 0;
            }
        }
    }
}



.Glidder {
    position: relative;
    min-height: 53vw; //hold during img loading

    img {
        width: 100%;
        opacity: 1;

        &:not(:first-of-type) {
            position: absolute;
            left: 0; top: 0;
        }
    }

    @include media(tablet) {
        height: 100%;

        img {
            width: 100%;

            &:not(:first-of-type) {
                top: 0;
            }
        }
    }
}


$glidderLength: 4;
$glidderTime: 15;

.Glidder img {
    animation: glidder #{$glidderTime}s infinite;
}


@for $i from 1 through $glidderLength {
    .Glidder img:nth-of-type(#{$i}) {
        animation-delay: -$i*($glidderTime/$glidderLength)*1000ms;
    }
}

@keyframes glidder {
    0% {z-index: 0;}
    1% {z-index: -1; left:$safeArea/4; top:$safeArea/4;}
    1.5% {z-index: 2; left:$safeArea/2; top:$safeArea;}
    2.5% {z-index: 2; left:-$safeArea;}
    3.5% {z-index: -1; left:$safeArea*3/2;}
    4% {z-index: -1; left:$safeArea/4; top:$safeArea/4;}
    5% {z-index: -1; left:0; top:0}
    92% {z-index: 2;}
    93.5% {z-index: 2; left:0;}
    94% {z-index: 2; left:-$safeArea/5;}
    94.5% {z-index: 2; left:0; top:0}
    95% {z-index: -1; left:$safeArea/4; top:$safeArea/4;}
    96% {z-index: 2; left:$safeArea/2; top:$safeArea;}
    97% {z-index: -1; left:$safeArea*3/2;}
    98% {z-index: -1; left:0; top:0;}
    99% {z-index: -1;}
    100%  {z-index: 0;}
}

// @keyframes glidder {
//     0% {z-index: 0;}
//     1% {z-index: -1; transform: translateX($safeArea/4); transform: translateY($safeArea/4);}
//     1.5% {z-index: 2; transform: translateX($safeArea/2); transform: translateY($safeArea);}
//     2.5% {z-index: 2; transform: translateX(-$safeArea);}
//     3.5% {z-index: -1; transform: translateX($safeArea*3/2);}
//     4% {z-index: -1; transform: translateX($safeArea/4); transform: translateY($safeArea/4);}
//     5% {z-index: -1; transform: translateX(0); transform: translateY(0)}
//     92% {z-index: 2;}
//     93.5% {z-index: 2; transform: translateX(0);}
//     94% {z-index: 2; transform: translateX(-$safeArea/5);}
//     94.5% {z-index: 2; transform: translateX(0); transform: translateY(0)}
//     95% {z-index: -1; transform: translateX($safeArea/4); transform: translateY($safeArea/4);}
//     96% {z-index: 2; transform: translateX($safeArea/2); transform: translateY($safeArea);}
//     97% {z-index: -1; transform: translateX($safeArea*3/2);}
//     98% {z-index: -1; transform: translateX(0); transform: translateY(0);}
//     99% {z-index: -1;}
//     100%  {z-index: 0;}
// }


.bot-nav {
    position: absolute;
    display: block;
    width: 100%;
    height: $safeArea;
    padding-top: $safeArea*2.5;
    text-align: center;
    font-size: $fontXXS;
    font-weight: $fBold;
    text-transform: uppercase;
    color: $clrGray;
    transition: opacity 150ms ease;
    opacity: 1;
    z-index: 4;
    pointer-events: none;

    span {
        color: $clrPrimarySoft;
    }

    .jsLoading {
        opacity: 0;
    }

    @include media(tablet) {
        padding-top: $safeArea*3;
    }
}
