$myselfs: 7;

.mee {
    position: absolute;
    opacity: 0;
    transform: translateX(-25%);

    @include media(phablet) {
        transform: none;
    }
}

@for $i from 0 through $myselfs {
    .myself#{$i} {
        animation-delay: $i*125ms;
    }
}

@keyframes myself {
    0% { opacity: 0; }
    87.4% { opacity: 0; }
    87.5% { opacity: 1; }
    99.9% { opacity: 1; }
    100% { opacity: 0; }
}

// glitch animation 'frontend developer / ux ui designer'

// .glitch {
//     position: relative;
//     margin: 0 auto;
//     width: 18.75rem;
//     height: 18.75rem;
//     background: $clrDark;
//     display: inline-block;
//
//     span { color: $clrDark; }
//
//     &::before,
//     &::after {
//         animation-iteration-count: infinite;
//         animation-timing-function: linear;
//         animation-direction: alternate-reverse;
//         overflow: hidden;
//         background: $clrDark;
//         top: 0;
//         width: 100%;
//         clip: rect(0, 900px, 0, 0);
//         content: attr(data-text);
//         @include centerx;
//     }
//
//     &::after {
//         content: attr(data-sub);
//         animation-name: glitch-animation;
//         animation-duration: 3s;
//         text-shadow: -1px 0 yellow;
//     }
//
//     &::before {
//         animation-name: glitch-animation-2;
//         animation-duration: 5s;
//         text-shadow: 1px 0 $clrPrimarySoft;
//     }
// }
//
//
// @mixin rect($top, $bottom) {
//     clip: rect($top, 9999px, $bottom, 0);
// }
//
// @keyframes glitch-animation {
//     $steps:10;
//     @for $i from 0 through $steps {
//         #{percentage($i*(1/$steps))} {
//             @include rect(random(100) + px,random(500) + px);
//         }
//     }
// }
//
// @keyframes glitch-animation-2 {
//     $steps:10;
//     @for $i from 0 through $steps {
//         #{percentage($i*(1/$steps))} {
//             @include rect(random(100) + px,random(700) + px);
//         }
//     }
// }
