/*------------------------------------*\
### TYPOGRAPHY   ###
\*------------------------------------*/
// ------ FONT SIZE LIST
p, .p {
    font-size: inherit;
}

a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;

    &:focus {
        outline: 0;
        box-shadow: $boxShadow;
    }
}
