// -------- BUTTONS AND SIMILAR -------- //

a, button {
    &:focus {
        animation-name: flash;
        animation-duration: 250ms;
        outline: 0;
        border: 0;
        box-shadow: 0;
    }

    &:disabled {
        cursor: auto;
    }
}

a, button {
    &:focus a, //links inside
    &:focus .fa, //links with font-awesome
    &:focus .glyphicon /*links with bootstrap*/ {
        animation-name: flash;
        animation-duration: 250ms;
    }
}

@keyframes flash {
    50%   {color: transparent;}
}

button {
    font-family: $font-mono;
    font-size: $fontM;
    background: none;
    border: none;
    outline: 0;
    cursor: pointer;

    &:focus {
        border: none;
        opacity: 1;
        animation-name: flash;
        animation-duration: 250ms;
    }
}


%btnX {
    font-family: $font-mono;
    padding: 0 $safeArea/5;
    line-height: $lineHeightM;
    text-align: left;

    &:hover {
        @extend %glitchWD;
    }
}

.btnB {
    @extend %btnX;
    background: $clrDark;
    color: $clrLight;
    transition: margin $speed*2;

    &.jsLoading {
        margin-left: -100%;
    }
}

.btnP {
    @extend %btnX;
    background: $clrDark;
    color: $clrLight;
}

.btnBot {
    @extend %btnX;
    background: $clrDark;
    color: $clrPrimarySoft;
}

.btnMore {
    @extend %btnX;
    background: $clrPrimary;
    color: $clrLight;
    font-size: $fontS;
    padding: $safeArea/5 $safeArea/2;
}

.btnCheck {
    @extend %btnX;
    background: $clrLight;
    color: $clrPrimary;
    padding: $safeArea/4 $safeArea/2;
    display: inline-block;

    .fa {
        margin-right: $safeArea/2;

        &.fa-mobile {
            font-size: 1.3em;
        }
    }
}


@keyframes animateBorderThree {
    25% {
        outline-color: $clrLight;
        box-shadow: 0 0 0 1px $clrDark;
    }
    75% {
        outline: 1px dashed $clrDark;
        box-shadow: 0 0 0 1px $clrLight;

    }
}


.link {
    border-bottom: 1px dotted $clrDark;
    cursor: alias;

    &:hover {
        color: $clrPrimary;
        border-color: $clrPrimary;
    }
}

.linkBot {
    font-weight: $fBold;
    color: $clrLight;
    border-bottom: 1px dotted $clrPrimarySoft;
    cursor: alias;

    &:hover {
        color: $clrPrimarySoft;
        border-color: $clrLight;
    }
}


@keyframes glitch {
  0% {text-shadow: 1px 0 0 red, -1px 0 0 blue;}
  4% {text-shadow: 1px 0 0 red, -1px 0 0 blue;}
  5% {text-shadow: -1px 0 0 red, 1px 0 0 blue;}
  10% {text-shadow: -1px 0 0 red, 1px 0 0 blue;}
  41% {text-shadow: 50px 0 0 blue, -50px 0 0 lime;}
  15% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;}
  20% {text-shadow: -1px 0 0 red, 1px 0 0 lime;}
  25% {text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;}
  30% {text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;}
  35% {text-shadow: -1px 0 0 blue, 1px 0 0 lime;}
  40% {text-shadow: -1px 0 0 blue, 1px 0 0 lime;}
  42% {text-shadow: 0 0 0 blue, 0 0 0 lime;}
  43% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;}
  46% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;}
  47% {text-shadow: -1px 0 0 red, 1px 0 0 lime;}
  50% {text-shadow: -1px 0 0 red, 1px 0 0 lime;}
  51% {text-shadow: 1px 0 0 red, -1px 0 0 blue;}
  55% {text-shadow: 1px 0 0 red, -1px 0 0 blue;}
  56% {text-shadow: -1px 0 0 red, 1px 0 0 blue;}
  60% {text-shadow: -1px 0 0 red, 1px 0 0 blue;}
  61% {text-shadow: 30px 0 0 red, -30px 0 0 lime;}
  62% {text-shadow: 0 0 0 red, 0 0 0 lime;}
  63% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;}
  66% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;}
  67% {text-shadow: -1px 0 0 red, 1px 0 0 blue;}
  70% {text-shadow: -1px 0 0 red, 1px 0 0 blue;}
  71% {text-shadow: 70px 0 0 red, -70px 0 0 blue;}
  72% {text-shadow: 0 0 0 red, 0 0 0 blue;}
  73% {text-shadow: 1px 0 0 red, -1px 0 0 blue;}
  76% {text-shadow: 1px 0 0 red, -1px 0 0 blue;}
  80% {text-shadow: -1px 0 0 red, 1px 0 0 blue;}
  81% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;}
  85% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;}
  86% {text-shadow: -1px 0 0 red, 1px 0 0 lime;}
  90% {text-shadow: -1px 0 0 red, 1px 0 0 lime;}
  91% {text-shadow: 60px 0 0 lime, -60px 0 0 blue;}
  92% {text-shadow: 0 0 0 lime, 0 0 0 blue;}
  92% {text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;}
  95% {text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;}
  96% {text-shadow: -1px 0 0 blue, 1px 0 0 lime;}
  99% {text-shadow: -1px 0 0 blue, 1px 0 0 lime;}
  100% {text-shadow: -1px 0 0 blue, 1px 0 0 lime;}
}

@keyframes glitch1 {
    60% {text-shadow: -1px 0 0 red, 1px 0 0 blue;}
    61% {text-shadow: 30px 0 0 red, -30px 0 0 lime;}
    62% {text-shadow: 0 0 0 red, 0 0 0 lime; color: yellow}
    63% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;}
    66% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;}
    67% {text-shadow: -1px 0 0 red, 1px 0 0 blue;}
}

@keyframes glitch2 {
    15% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;}
    20% {text-shadow: -1px 0 0 red, 1px 0 0 lime;}
    25% {text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;}
    30% {text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;}
    35% {text-shadow: -1px 0 0 blue, 1px 0 0 lime;}
    40% {text-shadow: -1px 0 0 blue, 1px 0 0 lime;}
}
