/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

$clrPrimary: #008080;
$clrPrimarySoft: #00e8e8;
$clrPrimaryDark: #004040; //darken($clrPrimary, 15%);

$clrBlack: #000000;
$clrDark: #121212;
$clrGrayDarker: lighten($clrDark, 10%);
// $clrGrayDark: lighten($clrDark, 25%);
$clrGray: lighten($clrDark, 40%);
$clrGrayLight: lighten($clrDark, 70%);
$clrGrayLighter: lighten($clrDark, 85%);
$clrLight: lighten($clrDark, 88%);
$clrWhite: #ffffff;

// $clr-error: #ED332A;

$borderWidth: 1px;
$borderradius: 0;
$border: $borderWidth solid;
$boxShadow: 0 0 0 1px;

@function rem($px) {
    // 1rem --> 16px
    // xrem --> $px
    $rem: $px * 1rem / 16 ;
    @return $rem;
}

$safeArea: rem(16);
$speed: 250ms;


$font-mono: 'Roboto Mono', monospace;
$font-sans: 'Ubuntu', sans-serif;
$font6XL: rem(84);
$font5XL: rem(68);
$fontXXXXL: rem(42);
$fontXXXL: rem(38);
$fontXXL: rem(32);
$fontXL: rem(26);
$fontLx: rem(21);
$fontL: rem(18);
$fontM: rem(16);
$fontS: rem(14);
$fontXS: rem(12);
$fontXXS: rem(10);
$fontXXXXS: rem(5);

$lineHeightS: 1.2;
$lineHeightM: 1.5;
$lineHeightL: 1.7;

$fReg: 300;
$fMed: 400;
$fBold: 700;




$humanWidthMob: 100%;
$botWidthMob: 100%;

$humanWidthPhablet: $humanWidthMob;
$botWidthPhablet: $botWidthMob;

$humanWidthTablet: 40%;
$botWidthTablet: 60%;


$humanWidthLap: $humanWidthTablet;
$botWidthLap: $botWidthTablet;

$chatBotWidth: rem(620);
$chatBotWidthTab: rem(520);


/*------------------------------------*\
    @mixins / &placeholder / functions

    > @function calculate rem
    > @media queries
    > @position centerxy
    > flexbox vs floats
    > calc
    > %retina2x
    > others
\*------------------------------------*/



/*------------------------------------*\
    #MEDIA QUERIES
\*------------------------------------*/

$i4-height: rem(440);
$i5-height: rem(470);
$mobile-width: rem(450);
$phablet-width: rem(550);
$tablet-width: rem(750);
$laptop-width: rem(1000);
$desktop-width: rem(1600);
$mediaHeight: rem(400);

@mixin media($media) {

    @if $media == iphone4 {
        @media (max-height: #{$i4-height}) {
            @content;
        }
    }

    @if $media == iphone5 {
        @media (max-height: #{$i5-height}) {
            @content;
        }
    }

    @if $media == untilPhablet {
        @media (max-width: #{$phablet-width - rem(1)}) {
            @content;
        }
    }

    @if $media == mobileUntilPhablet {
        @media (min-width: $mobile-width) and (max-width: #{$phablet-width - rem(1)}) {
            @content;
        }
    }

    @if $media == untilLaptop {
        @media (max-width: #{$laptop-width - rem(1)}) {
            @content;
        }
    }

    @if $media == untilDesktop {
        @media (max-width: #{$desktop-width - rem(1)}) {
            @content;
        }
    }

    @if $media == PhabletandSinceLaptop {
        @media  (min-width: $phablet-width) and (max-width: #{$tablet-width - rem(1)}),
                (min-width: $laptop-width){
            @content;
        }
    }

    @if $media == mobile {
        @media (min-width: $mobile-width) {
            @content;
        }
    }

    @if $media == phablet {
        @media (min-width: $phablet-width) {
            @content;
        }
    }

    @if $media == tablet {
        @media (min-width: $tablet-width) and (min-height: $mediaHeight) {
            @content;
        }
    }

    @if $media == laptop {
        @media (min-width: $laptop-width) and (min-height: $mediaHeight) {
            @content;
        }
    }

    @if $media == desktop {
        @media (min-width: $desktop-width) and (min-height: $mediaHeight) {
            @content;
        }
    }

    @if $media == onlyPhablet {
        @media (min-width: $phablet-width) and (max-width: #{$tablet-width - rem(1)}) {
            @content;
        }
    }

    @if $media == onlyTablet {
        @media (min-width: $tablet-width) and (max-width: #{$laptop-width - rem(1)}) {
            @content;
        }
    }
}


/*------------------------------------*\
    #POSITION
\*------------------------------------*/
@mixin centerxy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centerx {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin centery {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}



/*------------------------------------*\
    #FLEXBOX & CLEARFIX
\*------------------------------------*/

@mixin cf {
    *zoom: 1;

	&:before,
	&:after {
	    content: "";
	    display: table;
	}

	&:after {
	    clear: both;
	}

    > * {
        float: left;
    }
}

%cf {
    @include cf;
}


@mixin flexbox($noFlex:null) {

    .flexbox & {
        display: flex;

        & > * {
            // this is to prevent bugs on IE 10 11
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto;
        }
    }

    @if ($noFlex) {
        .no-flexbox & {
            @include cf;
        }
    }
}

%flexbox {
    @include flexbox;
}

@include media(mobile) {
    %flexbox-mob {
        @include flexbox;
    }

    %flexbox-noFlex-mob {
        @include flexbox(true);
    }
}
@include media(phablet) {
    %flexbox-pha {
        @include flexbox;
    }

    %flexbox-noFlex-pha {
        @include flexbox(true);
    }

    %cf-pha {
        @include cf;
    }
}
@include media(tablet) {
    %flexbox-tab {
        @include flexbox;
    }

    %flexbox-noFlex-tab {
        @include flexbox(true);
    }

    %cf-tab {
        @include cf;
    }
}
@include media(laptop) {
    %flexbox-lap {
        @include flexbox;
    }
}

// @include flexboxProp

%flexbox-noFlex {
    @include flexbox(true);
}


@mixin flexboxProp {
    .flexbox & {
        @content;
    }
}

@mixin noFlex {
    .no-flexbox & {
        @content;
    }
}

// .test {
//     @include noFlex {
//         padding: 10px;
//     };
// }
//output css
// .no-flexbox .test {
//     padding: 10px;
// }


/*------------------------------------*\
    #CALC
\*------------------------------------*/
@mixin calc($prop, $valFallBack, $valCal) {
    #{$prop}: $valFallBack; // poor browsers
    #{$prop}: calc(#{$valCal});
}
// @include calc(width, 100%, 100% - #{$safeArea}/2);


/*------------------------------------*\
    #SUPPORT
\*------------------------------------*/
@mixin fallback($prop, $valFallBack, $val) {
    #{$prop}: $valFallBack; // poor browsers
    #{$prop}: $val;
}
// @include fallback(width, 100%, 100vh);



/*------------------------------------*\
    #IMG RETINA
\*------------------------------------*/
@mixin bgImg2x($file, $type) {
  background-image: url($file + '.' + $type);

  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        & {
            background-image: url($file + '@2x.' + $type);
        }
  }
}
// ex: @include bgImg2x('../../media/images/passenger-back', jpg);


/*------------------------------------*\
    #GLITCH WD
\*------------------------------------*/

%glitchWD {
    animation: glitch 2s steps(100) infinite;
}
