// ------ show loading
.chat {
    width: 100%;
    margin: auto;
    min-height: 50vh;
    display: block;
    position: relative;
    padding-bottom: $safeArea*6;
    color: transparent;
    z-index: 1;

    &.jsLoading {
        color: transparent;
        animation: colorIn 50ms;
        animation-delay: 3.5s;
        animation-fill-mode: forwards;

        &::before {
            content: "¯\\_(ツ)_/¯";
            position: absolute;
            left: $safeArea;
            top: -$safeArea;
            animation: waiting 1s steps(11) alternate infinite;
            white-space: nowrap;
            overflow: hidden;
            width: 0;
        }
    }

    &-nav {
        display: none;
    }

    @include media(phablet) {
        &.jsLoading {
            &::before {
                @include fallback(left, 45%, calc(#{$humanWidthPhablet} + #{$safeArea*3}));
            }
        }
    }

    @include media(tablet) {
        @include fallback(padding-bottom, 100px, 80vh);

        &.jsLoading {
            &::before {
                @include fallback(left, 45%, calc(#{$humanWidthLap} + #{$safeArea*3}));
            }
        }
    }
}

@keyframes colorIn {
    0%  {color: transparent;}
    100%  {color: $clrPrimary;}
}

@keyframes waiting {
    0% {width: 0;}
    80% {width: 4.5rem;}
   100% {width: 4.5rem;}
}
