/*------------------------------------*\
#VARIABLES AND MIXINS
\*------------------------------------*/
html {
  width: 100%;
  max-width: 100%;
}

/*------------------------------------*\
#LOADING
\*------------------------------------*/
.loading-container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 999;
}
.loading-container * {
  font-family: sans-serif !important;
  font-size: 14px !important;
  color: #fff !important;
  line-height: 1.5 !important;
}
.loading-container .loading-square {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 40vh;
  left: 50vw;
  width: 250px;
  height: 250px;
  text-align: center;
  border: 2px solid #fff;
  padding: 12px;
}
.loading-container .loading-square .loading-loading {
  display: block;
  padding-top: 30%;
  line-height: 1.2;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.loading-container .loading-square .loading-browser {
  display: block;
  padding-top: 10%;
  position: relative;
}

.loading-move {
  width: 30px;
  height: 30px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation-name: loading;
          animation-name: loading;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes loading {
  0% {
    top: -25px;
    left: -25px;
  }
  25% {
    top: -25px;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 100%;
  }
  75% {
    top: 100%;
    left: -25px;
  }
  100% {
    top: -25px;
    left: -25px;
  }
}

@keyframes loading {
  0% {
    top: -25px;
    left: -25px;
  }
  25% {
    top: -25px;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 100%;
  }
  75% {
    top: 100%;
    left: -25px;
  }
  100% {
    top: -25px;
    left: -25px;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
