$sentClr: $clrPrimarySoft;
$placeholderClr: $clrPrimaryDark;
$textPadding: 20vw;

.bot {
    @include centerxy;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    z-index: 99;
    max-height: 0px;
    overflow: hidden;
    transition: max-height $speed ease-out;

    &.jsLoading {
        max-height: 100vh;
    }

    &-inner {
        @include centerxy;
        width: 100%;
        width: 100vw;
        height: $safeArea*35;
        max-height: 90vh;
        overflow: auto;
        background: $clrPrimary;
        border: 1px solid $clrPrimaryDark;
        color: $clrGrayLighter;
        // @extend %flexbox;
        // @include flexboxProp {
        //     flex-direction: column;
        //     justify-content: flex-end;
        // }
    }

    &-text {
        position: relative;
        width: 100%;
        margin: 0 auto;
        max-height: 100%;
        overflow: auto;
        padding: $safeArea $textPadding $safeArea*2;
        font-family: $font-mono;
        font-size: $fontS;
    }



    &-answer {
        &:before {
            content: "_";
            position: absolute;
            color: $sentClr;
            left: calc(#{$textPadding} - #{$safeArea/2});
        }
    }
    &-sent {
        min-height: $safeArea;
        color: $sentClr;
        margin-left: -$safeArea;
    }

    &-input {
        background: none;
        border: none;
        color: $sentClr;
        font-size: $fontM;
        display: inline;
        font-family: $font-mono;
        width: 100%;

        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
           color: $clrPrimaryDark;
        }

        &:focus {
            width: 100%;
            outline: none;
        }

    }
}

.jsBotThinking {
    position: absolute;
    left: calc(#{$textPadding} - #{$safeArea});
    bottom: $safeArea*2;
    &:before {
        color: white;
        content: "0 * . _ ;";
        display: block;
        animation: botThinking 700ms infinite;
    }
}

// * : ~ . _
//   0% {content: ". 0 . _ . _ . _";}
//  20% {content: "_ . 0 . _ . _ .";}
//  40% {content: ". _ . 8 . _ . _";}
//  60% {content: "_ . _ . 0 . _ .";}
//  80% {content: ". _ . _ . 8 . _";}
// 100% {content: "_ . _ . _ . 0 .";}

// @keyframes botThinking {
//     0% {content: ". 0 . _ . _ . _";}
//    20% {content: ". _ 0 _ . _ . _";}
//    40% {content: ". _ . 8 . _ . _";}
//    60% {content: ". _ . _ 0 _ . _";}
//    80% {content: ". _ . _ . 8 . _";}
//   100% {content: ". _ . _ . _ 0 _";}
// }

@keyframes botThinking {
    0% {content: "..";}
   20% {content: "8";}
   40% {content: "0";}
   60% {content: "_";}
   80% {content: "8";}
  100% {content: "0";}
}
