.bot {
    @include centerxy;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    z-index: 99;
    max-height: 0px;
    overflow: hidden;
    transition: max-height $speed*2 ease-in;

    &.jsLoading {
        max-height: 100vh;
    }

    &-inner {
        @include centerxy;
        width: 100%;
        width: 100vw;
        max-height: 90vh;
        height: $safeArea*25;
        overflow: auto;
        background: $clrPrimary;
        border: 1px solid $clrPrimaryDark;
        color: $clrGrayLighter;
    }

    &-text {
        max-width: $safeArea*40;
        margin: auto;
        height: 100%;
        overflow: auto;
        padding: $safeArea;
        padding-bottom: $safeArea*2;
        @extend %flexbox;
        @include flexboxProp {
            flex-direction: column;
            justify-content: flex-end;
            align-items: baseline;
        }
    }

    &-input {
        background: none;
        border: none;
        color: $clrPrimarySoft;
        font-size: $fontM;
        display: inline;

        &:focus {
            width: 100%;
            outline: none;
            // border-bottom: 1px solid black;
        }

    }

    // &-options {
    //     max-width: $safeArea*40;
    //     @include centerx;
    //     bottom: 0;
    //     height: $safeArea*4;
    //     background: $clrPrimary;
    //     width: 100%;
    //     padding: $safeArea 0;
    //
    //     .chatPart-option {
    //         margin: 0 $safeArea;
    //         padding-top: 0;
    //         width: auto;
    //     }
    // }
}
