.chat {
    width: 100%;
    margin: auto;
    display: block;
    position: relative;

    &-nav {
        position: relative;

        .chatSection {
            &:not(.jsOnNav),
            &:not(.jsOnNav):nth-of-type(1):nth-last-of-type(2), // [sec] sec
            &:not(.jsOnNav):nth-of-type(1):nth-last-of-type(3), // [sec] sec sec
            &:not(.jsOnNav):nth-of-type(2):nth-last-of-type(2) { // sec [sec] sec
                padding-bottom: $safeArea*10;
            }
        }
    }

    &Section {
        padding: $safeArea*2 0;
        transition: all 500ms;

        //when user didn't clicked it yet
        &.jsOnNav {
            position: absolute;
            bottom: 0; left: 30%;
            padding: 0;
            z-index: 3;

            .chatPart:first-of-type {
                .chatPart {
                    &-title {
                        font-size: $fontL;

                        &:hover {
                            color: $clrLight;
                            animation: glitch 2s steps(100) infinite;
                        }
                    }

                    &-human {
                        width: auto;
                        padding: 0;
                        padding-left: $safeArea*2;
                        transition: width 0s 2s, padding 250ms;
                    }
                }
            }
        }

        &:not(.jsOnNav):last-of-type {
            padding-bottom: $safeArea*10;
        }

        &:not(.jsOnNav):nth-of-type(1):nth-last-of-type(2), // [sec] sec
        &:not(.jsOnNav):nth-of-type(1):nth-last-of-type(3), // [sec] sec sec
        &:not(.jsOnNav):nth-of-type(2):nth-last-of-type(2) { // sec [sec] sec
            padding-bottom: $safeArea*2;
        }

        //show button when page is ready
        &.jsLoading {
            .chatPart:first-of-type {
                .chatPart {
                    &-human {
                        padding-top: $safeArea*2;
                    }
                }
            }
        }

        //remove properties after jsLoading to get ready to jsOnNav.
        &.jsLoading2 {
            height: 30px;
            overflow: hidden;
        }
    }

    &Part {
        position: relative;
        width: 100%;
        @extend %cf;

        //each section
        &:first-of-type {
            .chatPart {
                &-human,
                &-bot {
                    padding-top: 0;
                }

                &-title {
                    font-size: $fontXL;
                    font-weight: $fBold;
                    transition: font 500ms 250ms;
                }

                &-human {
                    display: block;
                    border-right: none;
                    transition: padding 250ms;
                }

                &-text {
                    padding-top: $safeArea/2;
                }
            }
        }

        &:last-of-type {
            .chatPart {
                &-human,
                &-bot {
                    padding-bottom: 0;
                }
            }
        }

        // human part with titles
        &-human {
            width: 100%;
            padding: $safeArea 0 $safeArea $safeArea;
            overflow: hidden;
            text-align: right;
            display: none;
        }

        &-title,
        &-subtitle {
            display: inline-block;
            transition: margin $speed;
            margin-right: 0;
            font-family: $font-mono;
            font-size: $fontM;
            font-weight: $fBold;
            color: $clrPrimary;

            &.jsLoading {
                margin-right: -100%;
            }
        }

        &-subtitle {
            font-weight: $fMed;
        }


        //bot part with text and options
        &-bot {
            width: 100%;
            padding: $safeArea/2;
            overflow: hidden;
            display: none;
        }


        &-text,
        &-redirect {
            font-weight: $fReg;
            font-size: $fontL;
            opacity: 1;
            transition: opacity $speed;

            &:hover {
                color: $clrDark;
            }

            strong {
                font-weight: inherit;
                color: $clrDark;
            }

            &.jsLoading {
                opacity: 0;
            }
        }

        &-redirect {
            padding-top: $safeArea;
        }

        // btns
        &-option {
            display: inline-block;
            width: 49%;
            padding-top: $safeArea;
            padding-right: $safeArea/2;
            overflow: hidden;

            &:nth-child(2) {
                position: relative;
                z-index: 2;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        &--jsLast {
            .chatPart-text {
                color: $clrDark;
            }
        }


        //PROJECT FIXME improve animation class
        &--project {
            .chatPart-bot {
                overflow: visible;
                padding: $safeArea 0 $safeArea*2;
            }

            .chatPart {
                &-human {
                    padding: 0;
                    margin-top: 32px;
                    text-align: right;
                }

                &-title {
                    color: $clrLight;
                    background: $clrDark;
                    padding: 0 $safeArea/3 0 $safeArea;
                    display: inline-block;
                    // font-size: 1.5rem !important; //TODO
                }

                &-subtitle {
                    background: $clrLight;
                    z-index: 3;
                    position: relative;
                    padding: 0 $safeArea/3;
                    margin-top: $safeArea/3;
                }

                &-option {
                    padding-top: $safeArea*2;
                    padding-left: $safeArea;
                }
            }
        }

        &-project {
            color: $clrLight;
            margin-left: -5px;
        }

        &-role {
            position: relative;
            font-size: $fontLx;
            padding-top: $safeArea;

            background: $clrLight;
            color: $clrDark;
            padding: 10px 15px;
            margin: -12px 44px 0 -36px;

            display: none;
            margin-left: 150%;
            width: 100%;

            transition: margin $speed*2;

            &.jsGlitchIn {
                display: block;
                margin-left: 7px;
            }
        }

        &-capt,
        &-more {
            font-size: $fontM;
            font-weight: 100;
            letter-spacing: 1px;
            line-height: 1.7;

            display: none;

            br {font-size: 1.7rem;}

            background: $clrDark;
            padding: $safeArea*2 $safeArea;
            margin: -9px 13px -5px 5px;
            z-index: -1;
            position: relative;
        }

        &-more {
            margin: -12px 2px -12px -2px;
            padding-top: $safeArea;
            background: $clrGrayDarker;
            z-index: 0;
            transition: all $speed*2;
            display: block;
            max-height: 500px;
            overflow: hidden;

            &.jsLoading {
                max-height: 0;
                padding: 0;
                margin: -2px 302px 0 50px;
            }
        }


        &-details {
            padding-top: $safeArea;

            background: #008080;
            padding: 5px 15px;
            text-align: right;
            position: relative;

            margin-left: 400px;
            margin-right: 100px;
            display: none;
            transition: margin $speed;

            &.jsGlitchIn {
                margin: -8px -10px 0px 52px;
            }

        }

        &-www {
            display: inline-block;
            width: 100%;
            text-align: right;
        }

        .btnDetails {
            position: absolute;
            left: -24px;
            padding: 0 $safeArea/3;

            background: $clrLight;
            color: $clrDark;
            margin-top: -12px;

            display: none;
            left: 250px;
            transition: left $speed;

            &:hover {
                animation: 250ms animateBorderThree ease infinite;

            }

            &.jsGlitchIn {
                left: -24px;
            }
        }

        //trigger by btn www
        &-checkItOut {
            font-size: $fontS;
            font-family: $font-mono;
            display: inline-block;
            color: $clrDark;
            padding-right: $safeArea/2;

            &.jsActive {
                color: $clrLight;
                animation: glitch 2s steps(100) infinite;
            }
        }
    }
}

@include media(phablet) {
    .chat {
        &Part {
            &-human {
                width: $humanWidthPhablet;
            }
            &-bot {
                width: $botWidthPhablet;
                max-width: $chatBotWidth;
                padding: $safeArea $safeArea $safeArea $safeArea*3;
                margin-left: -1px;
                border-right: 0;
            }

            &-option {
                padding-right: $safeArea;
            }

            &-role {
                margin: -12px -344px 0 836px;

                &.jsGlitchIn {
                    display: block;
                    margin-left: -44px;
                }
            }

            &-more {
                margin: -12px 2px -12px -152px;
            }

        }
    }

}


#practice-index {
    .chatPart {
        &-bot {
            padding: 0;
        }
    }

    .liIndex-ul {
        display: none;
    }
}

.ifCondition {
    text-align: center;
    padding-top: $safeArea;

    > * {
        font-size: $fontS;
        line-height: $lineHeightM;
    }

    span {
        display: inline-block;
        margin-top: $safeArea/3;
        padding: $safeArea/3 $safeArea*3;
        border-top: 1px solid $clrGray;
        color: $clrPrimary;
        font-style: italic;
        font-family: $font-mono;
    }
}
// @include media(laptop) {
//     .chat {
//         // width: 70%;
//         // max-width: $safeArea*60;
//     }
// }


.liIndex {
    &-ul {
        width: 100%;
    }

    &-liCateg {
        display: inline-block;
        margin-top: $safeArea/2;
    }

    &-categ {
        display: block;
        font-family: $font-mono;
        font-size: $fontS;
        font-weight: $fBold;
        text-transform: uppercase;
        margin-top: $safeArea/2;
    }

    &-liProj {
        display: inline-block;
        margin-top: $safeArea/2;

        .btnP {
            // color: red;
            font-size: $fontS;
        }
    }

    &-sub {
        padding-left: $safeArea/2;
        margin-right: $safeArea/2;
        border-bottom: 1px solid $clrDark;
        display: inline-block;
        height: rem(17);
        font-size: $fontXS;
    }

    &--padding {
        padding: 0 $safeArea;

        .liIndex {
            &-liCateg,
            &-categ {
                margin-top: 0;
            }

            &-liCateg {
                margin-bottom: $safeArea;
            }

            &-liProj {
                button {
                    margin-right: -$safeArea/2;
                    font-size: $fontS;
                }
            }
            &-sub {
                height: rem(18);
            }
        }
    }

}

// dots . . .
.js-loadingRetro {
    position: absolute;
    top: $safeArea;
    padding-left: $safeArea;
    // animation: glitch 2s steps(100) infinite;
}
