.hiThere {
    width: 90%;
    max-width: $safeArea*32;
    margin: auto;
    text-align: center;
    padding-top: 20vh;

    &-hey {
        font-size: $font6XL;
        transition: all $speed*4;
        opacity: 1;
        display: none; //slideDown()

        &.jsLoading {
            margin-top: $safeArea*4;
            opacity: 0;
        }
    }

    &-intro {
        font-size: $fontLx;
        padding: $safeArea*2 0;
        transition: all $speed*4;
        opacity: 1;
        display: none; //slideDown()

        &.jsLoading {
            margin-top: -$safeArea*2;
            opacity: 0;
        }

        &.jsFixed {
            padding-bottom: $safeArea*4;
        }
    }
}

.chat {
    padding: 30vh 0 150px;
    width: 95%;
    min-height: 200vh;
    margin: auto;

    @include media(laptop) {
        width: 70%;
    }


    &Section {
        padding: $safeArea*2 0;
        // basically all of this to tell that
        // each all .chatPart of each .chatSection except 1st-of-type
        // will have its children (human and bot) with padding
        // to have some space between sections
        // &:not(:first-of-type) {
        //     .chatPart {
        //         &:first-of-type {
        //             .chatPart {
        //                 &-human,
        //                 &-bot {
        //                     padding-top: $safeArea*2;
        //                 }
        //             }
        //         }
        //     }
        // }
    }

    &Part {
        position: relative;
        width: 100%;
        @extend %cf;

        //define paddings first and last item
        &:first-of-type {
            .chatPart {
                &-human,
                &-bot {
                    padding-top: 0;
                }

                &-title {
                    font-size: $fontXL;
                }
            }
        }

        &:last-of-type {
            .chatPart {
                &-human,
                &-bot {
                    padding-bottom: 0;
                }
            }
        }

        // human part with titles
        &-human {
            width: 100%;
            padding: $safeArea;
            border-right: 1px solid $clrDark;
            overflow: hidden;
            display: none;
        }

        &-title,
        &-subtitle {
            text-align: right;
            font-weight: 600;
            transition: margin $speed;
            margin-right: 0;
            font-family: $font-sans;
            font-size: $fontLx;

            &.jsLoading {
                margin-right: -100%;
            }
        }

        &-subtitle {
            font-size: $fontL;
            font-weight: 400;
        }


        //bot part with text and options
        &-bot {
            width: 100%;
            padding: $safeArea/2;
            border-left: 1px solid $clrDark;
            border-right: 1px solid $clrDark;
            overflow: hidden;
            display: none;
        }



        &-text,
        &-redirect {
            color: $clrGrayLight;
            opacity: 1;
            transition: opacity $speed;

            &:hover {
                color: black;
            }

            strong {
                font-weight: inherit;
                color: black;
            }

            &.jsLoading {
                opacity: 0;
            }
        }

        &-redirect {
            padding-top: $safeArea;
        }

        // btns
        &-option {
            display: inline-block;
            width: 49%;
            padding-top: $safeArea;
            padding-right: $safeArea/2;
            overflow: hidden;

            &:nth-child(2) {
                position: relative;
                z-index: 2;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        .btnB {
            margin-left: 0;
            transition: margin $speed*2;

            &.jsLoading {
                margin-left: -100%;
            }
        }

        &--jsLast {
            .chatPart-text {
                color: black;
            }
        }


        &--project {
            .chatPart-bot {
                overflow: visible;
                padding: $safeArea 0 $safeArea*2;
            }

            .chatPart {
                &-human {
                    padding: 0;
                    margin-top: 32px;
                    text-align: right;
                }

                &-title {
                    color: $clrLight;
                    background: $clrDark;
                    padding: 0 $safeArea/3 0 $safeArea;
                    display: inline-block;
                    font-size: 1.5rem !important; //TODO
                }

                &-subtitle {
                    background: $clrLight;
                    z-index: 3;
                    position: relative;
                    padding: 0 $safeArea/3;
                    margin-top: $safeArea/3;
                }

                &-option {
                    padding-top: $safeArea*2;
                    padding-left: $safeArea;
                }
            }
        }

        &-project {
            color: $clrLight;

            margin-left: -5px;
        }

        &-fs {
            background: black;
            padding: $safeArea;
            margin-left: 0;

            display: none;

            img {
                width: 100%;
                opacity: 0;
            }


            &.jsGlitchIn {
                img {
                    opacity: 1;
                }
            }
        }

        &-role {
            font-size: $fontLx;
            padding-top: $safeArea;

            background: white;
            color: black;
            padding: 10px 15px;
            margin: -12px 44px 0 -36px;

            display: none;
            margin-left: 150%;
            width: 100%;

            transition: margin $speed*2;

            &.jsGlitchIn {
                display: block;
                margin-left: 7px;
            }
        }

        &-capt,
        &-more {
            font-family: $font-sans;
            font-size: $fontM;
            font-weight: 100;
            letter-spacing: 1px;
            line-height: 1.7;
            // padding: $safeArea/2 0;

            display: none;

            br {font-size: 1.7rem;}

            background: $clrDark;
            padding: $safeArea*2 $safeArea;
            margin: -9px 13px -5px 5px;
            z-index: -1;
            position: relative;
        }

        &-more {
            margin: -12px 2px -12px -2px;
            padding-top: $safeArea;
            background: $clrGrayDarker;
            z-index: 0;
            transition: all $speed*2;
            display: block;
            max-height: 500px;
            overflow: hidden;

            &.jsLoading {
                max-height: 0;
                padding: 0;
                margin: -2px 302px 0 50px;
            }
        }


        &-details {
            padding-top: $safeArea;

            background: #008080;
            padding: 5px 15px;
            text-align: right;
            position: relative;


            margin-left: 400px;
            margin-right: 100px;
            display: none;
            transition: margin $speed;

            &.jsGlitchIn {
                margin: -8px -10px 0px 52px;
            }

        }

        &-www {
            display: inline-block;
            width: 100%;
            text-align: right;
        }

        .btnDetails {
            position: absolute;
            left: -24px;
            padding: 0 $safeArea/3;

            background: white;
            color: black;
            margin-top: -12px;

            display: none;
            left: 250px;
            transition: left $speed;

            &:hover {
                animation: 250ms animateBorderThree ease infinite;

            }

            &.jsGlitchIn {
                left: -24px;
            }
        }

        //trigger by btn www
        &-checkItOut {
            font-size: $fontS;
            font-family: $font-mono;
            display: inline-block;
            color: $clrDark;
            padding-right: $safeArea/2;

            &.jsActive {
                color: $clrLight;
                animation: glitch 2s steps(100) infinite;
            }
        }
    }
}


@include media(phablet) {
    .chat {
        &Part {
            &-human {
                width: 30%;
            }
            &-bot {
                width: 70%;
                padding: $safeArea;
                margin-left: -1px;
                border-rigth: 0;
            }

            &-option {
                padding-right: $safeArea;
            }

            &-role {
                margin: -12px 44px 0 -36px;

                &.jsGlitchIn {
                    display: block;
                    margin-left: -44px;
                }
            }

            &-more {
                margin: -12px 2px -12px -152px;
            }

        }
    }

}


.liIndex {
    &-ul {
        width: 100%;
    }

    &-liCateg {
        display: inline-block;
        margin-top: $safeArea/2;
    }

    &-categ {
        display: block;
        font-family: $font-sans;
        font-size: $fontS;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: $safeArea/2;
    }

    &-liProj {
        display: inline-block;
        margin-bottom: $safeArea/2;
    }

    &-sub {
        padding-left: $safeArea/2;
        margin-right: $safeArea/2;
        border-bottom: 1px solid black;
    }

}

.cv {
    z-index: 11;
    position: relative;
    width: 100%;
    background: $clrDark;
    color: white;
    padding: 100vh 5vh 5vh;
    width: 100%;

    &-header {
        position: relative;
        margin: auto;
        text-align: center;
    }

    &-ascii {
        display: inline-block;
        text-align: center;
        width: 300px;
        font-size: $fontXXS;
    }

    &-section {
        @extend %cf;
        text-align: center;
        // @include flexbox;
        // align-items: stretch;
    }

    &-article {
        display: inline-block;
        width: 33%;
        padding: $safeArea*2;
        text-align: left;

        &-in {
            background: $clrLight;
            color: $clrDark;
        }
    }

    &-title {
        font-size: $fontXL;
        padding: $safeArea $safeArea $safeArea/4;
        font-family: $font-sans;
        font-weight: 600;
        margin-bottom: $safeArea;
        border-bottom: 2px solid $clrLight;
        background: black;
        color: $clrLight;
    }

    &-dl {
        padding: 0 $safeArea;
    }

    &-dt {
        font-weight: 400;
    }

    &-dd {
        font-weight: 300;
        font-size: $fontS;
        margin-bottom: $safeArea;
    }

    &-liTitle {
        padding: 0 $safeArea;
        @extend .liIndex-categ;
    }

    .liIndex {
        &-ul {
            padding: 0 $safeArea;
        }

        &-liCateg,
        &-categ {
            margin-top: 0;
        }

        &-liCateg {
            margin-bottom: $safeArea;
        }

        &-sub {
            margin-left: -$safeArea/4*3; //FIXME a strange bug on cv section doesn't connect btn with span.
        }
    }


    &-ul {
        padding: 0 $safeArea $safeArea;
    }

    &-li {
        font-weight: 300;
    }

    &-bot {
        width: 100%;
        background: $clrDark;
        padding: $safeArea;
        text-align: center;

        > * {
            background: $clrLight;
            color: $clrDark;
        }
    }

}


.js-loadingRetro {
    position: absolute;
    top: $safeArea;
    padding-left: $safeArea;
    animation: glitch 2s steps(100) infinite;
}
