.chat {
    padding: 30vh 0 150px;
    width: 95%;
    min-height: 200vh;
    margin: auto;
    display: block;

    &Section {
        padding: $safeArea*2 0;
    }

    &Part {
        position: relative;
        width: 100%;
        @extend %cf;

        //define paddings first and last item
        &:first-of-type {
            .chatPart {
                &-human,
                &-bot {
                    padding-top: 0;
                }

                &-title {
                    font-size: $fontXL;
                    // background: $clrDark;
                    // padding: $safeArea/5 $safeArea;
                    // color: $clrLight;
                    font-weight: $fBold;
                    // margin-right: -$safeArea;
                }
            }
        }

        &:last-of-type {
            .chatPart {
                &-human,
                &-bot {
                    padding-bottom: 0;
                }
            }
        }

        // human part with titles
        &-human {
            width: 100%;
            padding: $safeArea;
            border-right: 1px solid $clrDark;
            overflow: hidden;
            text-align: right;
            display: none;
        }

        &-title,
        &-subtitle {
            display: inline-block;
            transition: margin $speed;
            margin-right: 0;
            font-family: $font-mono;
            font-size: $fontM;
            font-weight: $fBold;
            color: $clrPrimary;

            &.jsLoading {
                margin-right: -100%;
            }
        }

        &-subtitle {
            font-weight: $fMed;
        }


        //bot part with text and options
        &-bot {
            width: 100%;
            padding: $safeArea/2;
            border-left: 1px solid $clrDark;
            border-right: 1px solid $clrDark;
            overflow: hidden;
            display: none;
        }


        &-text,
        &-redirect {
            font-weight: $fReg;
            font-size: $fontL;
            opacity: 1;
            transition: opacity $speed;

            &:hover {
                color: $clrDark;
            }

            strong {
                font-weight: inherit;
                color: $clrDark;
            }

            &.jsLoading {
                opacity: 0;
            }
        }

        &-redirect {
            padding-top: $safeArea;
        }

        // btns
        &-option {
            display: inline-block;
            width: 49%;
            padding-top: $safeArea;
            padding-right: $safeArea/2;
            overflow: hidden;

            &:nth-child(2) {
                position: relative;
                z-index: 2;
            }

            &:last-child {
                padding-right: 0;
            }
        }
        //BTNB shouln't be here FIXME
        .btnB {
            margin-left: 0;
        }

        &--jsLast {
            .chatPart-text {
                color: $clrDark;
            }
        }


        //PROJECT FIXME improve animation class
        &--project {
            .chatPart-bot {
                overflow: visible;
                padding: $safeArea 0 $safeArea*2;
            }

            .chatPart {
                &-human {
                    padding: 0;
                    margin-top: 32px;
                    text-align: right;
                }

                &-title {
                    color: $clrLight;
                    background: $clrDark;
                    padding: 0 $safeArea/3 0 $safeArea;
                    display: inline-block;
                    // font-size: 1.5rem !important; //TODO
                }

                &-subtitle {
                    background: $clrLight;
                    z-index: 3;
                    position: relative;
                    padding: 0 $safeArea/3;
                    margin-top: $safeArea/3;
                }

                &-option {
                    padding-top: $safeArea*2;
                    padding-left: $safeArea;
                }
            }
        }

        &-project {
            color: $clrLight;

            margin-left: -5px;
        }

        &-fs {
            background: $clrDark;
            padding: $safeArea;
            margin-left: 0;
            display: none;
            position: relative;

            img {
                width: 100%;
                opacity: 0;

                &:not(:first-of-type) {
                    position: absolute;
                    left: $safeArea;
                    top: $safeArea;
                    width: calc(100% - #{$safeArea*2});
                }
            }


            &.jsGlitchIn {
                img {
                    opacity: 1;
                }
            }
        }

        &-role {
            position: relative;
            font-size: $fontLx;
            padding-top: $safeArea;

            background: $clrLight;
            color: $clrDark;
            padding: 10px 15px;
            margin: -12px 44px 0 -36px;

            display: none;
            margin-left: 150%;
            width: 100%;

            transition: margin $speed*2;

            &.jsGlitchIn {
                display: block;
                margin-left: 7px;
            }
        }

        &-capt,
        &-more {
            font-size: $fontM;
            font-weight: 100;
            letter-spacing: 1px;
            line-height: 1.7;

            display: none;

            br {font-size: 1.7rem;}

            background: $clrDark;
            padding: $safeArea*2 $safeArea;
            margin: -9px 13px -5px 5px;
            z-index: -1;
            position: relative;
        }

        &-more {
            margin: -12px 2px -12px -2px;
            padding-top: $safeArea;
            background: $clrGrayDarker;
            z-index: 0;
            transition: all $speed*2;
            display: block;
            max-height: 500px;
            overflow: hidden;

            &.jsLoading {
                max-height: 0;
                padding: 0;
                margin: -2px 302px 0 50px;
            }
        }


        &-details {
            padding-top: $safeArea;

            background: #008080;
            padding: 5px 15px;
            text-align: right;
            position: relative;

            margin-left: 400px;
            margin-right: 100px;
            display: none;
            transition: margin $speed;

            &.jsGlitchIn {
                margin: -8px -10px 0px 52px;
            }

        }

        &-www {
            display: inline-block;
            width: 100%;
            text-align: right;
        }

        .btnDetails {
            position: absolute;
            left: -24px;
            padding: 0 $safeArea/3;

            background: $clrLight;
            color: $clrDark;
            margin-top: -12px;

            display: none;
            left: 250px;
            transition: left $speed;

            &:hover {
                animation: 250ms animateBorderThree ease infinite;

            }

            &.jsGlitchIn {
                left: -24px;
            }
        }

        //trigger by btn www
        &-checkItOut {
            font-size: $fontS;
            font-family: $font-mono;
            display: inline-block;
            color: $clrDark;
            padding-right: $safeArea/2;

            &.jsActive {
                color: $clrLight;
                animation: glitch 2s steps(100) infinite;
            }
        }
    }
}

@include media(phablet) {
    .chat {
        &Part {
            &-human {
                width: 30%;
            }
            &-bot {
                width: 70%;
                max-width: rem(520);
                padding: $safeArea;
                margin-left: -1px;
                border-right: 0;
            }

            &-option {
                padding-right: $safeArea;
            }

            &-role {
                margin: -12px -344px 0 836px;

                &.jsGlitchIn {
                    display: block;
                    margin-left: -44px;
                }
            }

            &-more {
                margin: -12px 2px -12px -152px;
            }

        }
    }

}

@include media(laptop) {
    .chat {
        width: 70%;
        max-width: $safeArea*60;
    }
}


.liIndex {
    &-ul {
        width: 100%;
    }

    &-liCateg {
        display: inline-block;
        margin-top: $safeArea/2;
    }

    &-categ {
        display: block;
        font-family: $font-mono;
        font-size: $fontS;
        font-weight: $fBold;
        text-transform: uppercase;
        margin-top: $safeArea/2;
    }

    &-liProj {
        display: inline-block;
        margin-top: $safeArea/2;

        .btnP {
            // color: red;
            font-size: $fontS;
        }
    }

    &-sub {
        padding-left: $safeArea/2;
        margin-right: $safeArea/2;
        border-bottom: 1px solid $clrDark;
        display: inline-block;
        height: rem(17);
        font-size: $fontXS;
    }

    &--padding {
        padding: 0 $safeArea;

        .liIndex {
            &-liCateg,
            &-categ {
                margin-top: 0;
            }

            &-liCateg {
                margin-bottom: $safeArea;
            }

            &-liProj {
                button {
                    margin-right: -$safeArea/2;
                    font-size: $fontS;
                }
            }
            &-sub {
                height: rem(18);
            }
        }
    }

}

// dots . . .
.js-loadingRetro {
    position: absolute;
    top: $safeArea;
    padding-left: $safeArea;
    // animation: glitch 2s steps(100) infinite;
}



$glidderLength: 4;
$glidderTime: 10;

.chatPart-fs img {
    animation: glidder #{$glidderTime}s steps(9) infinite;
}


@for $i from 1 through $glidderLength {
    .chatPart-fs img:nth-of-type(#{$i}) {
        animation-delay: -$i*($glidderTime/$glidderLength)*1000ms;
    }
}

// .myself1 {
//     opacity: 1;
// }

@keyframes glidder {
    0% {z-index: 2;}
    06% {z-index: 2;}
    10% {z-index: 2;}
    20% {z-index: 2;}
    30% {z-index: 2;}
    31% {z-index: -1; left: $safeArea; top: $safeArea;}
    31.5% {z-index: 2; top: -$safeArea;}
    31.5% {z-index: 2; left: $safeArea*2; top: $safeArea;}
    32.5% {z-index: 2; left: -$safeArea;}
    33.5% {z-index: -1; left: $safeArea*3/2;}
    34% {z-index: -1; left: $safeArea; top: $safeArea;}
    100%  {z-index: 0;}
}
