%textHeyThere {
    font-size: $font6XL;
    font-weight: $fBold;
    line-height: 1.1;
    letter-spacing: 3px;
}

.heyThere {
    width: 100%;
    margin: auto;
    padding-top: 10vh;
    @extend %cf;

    &-hey {
        @extend %textHeyThere;
        display: inline-block;
        padding: 0 $safeArea*3;
        border-bottom: 1px solid black;
        color: $clrLight;
        animation: heyLine 1750ms ease-out;
        width: 30%;

        &:before {
            content: 'Hey \a there';
            white-space: pre;
            position: absolute;
            @extend %textHeyThere;
            color: $clrDark;
            animation: heyThere 2250ms steps(11);
        }
    }

    &-intro {
        font-size: $fontXL;
        width: 70%;
        max-width: $safeArea*35;
        padding-left: $safeArea*3;
        padding-bottom: $safeArea*5;
        overflow: hidden;
        margin-top: $safeArea*9;
        max-height: 300px;
        opacity: 1;
        animation: heyIntro 2500ms ease-in;
    }

    &-br {
        display: block;
        height: $safeArea/2*3;
    }
}

@keyframes heyLine {
    0% {
        max-width: 0;
        padding: 0;
    }
    70% {
        max-width: 0;
        padding: 0;
    }
    100% {
        max-width: 400px;
        padding: 0 $safeArea*3;
    }
}

@keyframes heyThere {
    0% {content: "";}
    75% {content: "";}
    77% {content: "H";}
    80% {content: "He";}
    83% {content: "Hey";}
    85% {content: "Hey ";}
    87% {content: "Hey \a t";}
    90% {content: "Hey \a th";}
    93% {content: "Hey \a the";}
    95% {content: "Hey \a ther";}
    97% {content: "Hey \a there";}
    100% {content: "Hey \a there";}
}

@keyframes heyIntro {
    0% {
        margin-top: $safeArea*15;
        max-height: 0;
        opacity: 0;
    }
    70% {
        margin-top: $safeArea*13;
        max-height: 0;
        opacity: 0;
    }
    100% {
        margin-top: $safeArea*9;
        max-height: $safeArea*20;
        opacity: 1;
    }
}
