.navSections {
    margin: auto;
    position: relative;
    z-index: 11;
    width: 100%;
    text-align: center;
    padding: 0;
    border-bottom: 1px dashed $clrGrayLight;
    background: rgba($clrLight, 1);
    height: $safeArea*2;
    transition: width $speed*4;
    overflow: hidden;

    &.jsLoading {
        border: 0;
        width: 0;
    }

    &.jsFixed {
        position: fixed;
        top: 0;
    }

    &-btn {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        transition: margin $speed*2;

        &.jsLoading {
            margin-bottom: -$safeArea*3;
        }
    }

    &-about {
        position: absolute;
        right: $safeArea;
        top: 0;

        .btnNav {
            color: $clrGrayDarker;
            font-weight: 300;
        }
    }
}



.js-botTrigger {
    pointer-events: all;
    * {
        opacity: 1;
        color: $clrPrimary;
        animation: glitch 2s steps(100) 2;
        font-weight: $fBold;
    }

    &.jsLoading {
        pointer-events: none;
        * {
            opacity: 0;
            color: $clrDark;
            animation: none;
        }
    }

    *.js-aboutVisible {
        opacity: 0.5;
    }
}

@include media(phablet) {
    .navSections {

        &-btn {
            width: $safeArea*8;
        }
    }
}



//typed.js
.typed-cursor{
    display: none;
    // opacity: 1;
    // -webkit-animation: blink 0.7s infinite;
    // -moz-animation: blink 0.7s infinite;
    // animation: blink 0.7s infinite;
}
// @keyframes blink{
//     0% { opacity:1; }
//     50% { opacity:0; }
//     100% { opacity:1; }
// }
// @-webkit-keyframes blink{
//     0% { opacity:1; }
//     50% { opacity:0; }
//     100% { opacity:1; }
// }
// @-moz-keyframes blink{
//     0% { opacity:1; }
//     50% { opacity:0; }
//     100% { opacity:1; }
// }
