.navSections {
    position: relative;
    margin: auto;
    z-index: 11;
    width: 100%;
    text-align: center;
    padding: 0;
    // border-bottom: 1px dashed $clrGrayLight;
    // background: rgba($clrLight, 1);
    height: $safeArea*2;
    transition: width $speed*4;
    overflow: hidden;
    // display: block;

    &.jsLoading {
        border: 0;
        width: 0;
    }

    &.jsFixed {
        position: fixed;
        top: 0;
    }

    &-btn {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        transition: margin $speed*2;

        &.jsLoading {
            margin-bottom: -$safeArea*3;
        }
    }

    &-about {
        position: absolute;
        right: $safeArea;
        top: 0;

        .btnNav {
            color: $clrGrayDarker;
            font-weight: 300;
        }
    }
}


@include media(phablet) {
    .navSections {

        &-btn {
            width: $safeArea*8;
        }
    }
}
