.navSections {
    position: relative;
    // margin: auto;
    z-index: 11;
    width: 100%;
    padding-top: $safeArea*2;
    padding-left: calc(370px + 2rem);
    // padding: 0;
    // height: $safeArea*2;
    // transition: width $speed*4;
    overflow: hidden;
    display: block;

    // &.jsLoading {
    //     border: 0;
    //     width: 0;
    // }
    //
    // &.jsFixed {
    //     position: fixed;
    //     top: 0;
    // }

    &-btn {
        display: inline-block;
        // overflow: hidden;
        // white-space: nowrap;
        // transition: margin $speed*2;
        padding-right: $safeArea*3;

        &.jsLoading {
            margin-bottom: -$safeArea*3;
        }
    }

    // &-about {
    //     position: absolute;
    //     right: $safeArea;
    //     top: 0;
    //
    //     .btnNav {
    //         color: $clrGrayDarker;
    //         font-weight: 300;
    //     }
    // }
}

.btnNav {
    font-weight: 500;
    padding: $safeArea/5 0;
    color: $clrPrimary;

    &:hover {
        opacity: 1;
        color: $clrLight;
        animation: glitch 2s steps(100) infinite;
    }

    &.jsActive {
        background: $clrDark;
        color: $clrLight;
    }
}

// @include media(mobile) {
//     .btnNav {
//         padding: $safeArea/5 $safeArea;
//     }
// }

//
// @include media(phablet) {
//     .navSections {
//
//         &-btn {
//             width: $safeArea*8;
//         }
//     }
// }
