%projNavSides {
    position: absolute;
    max-width: none;
    white-space: nowrap;
    background: $clrBlack;
    padding: $safeArea 0;
    height: 80px;
}

$navSpeed: 250ms;


.bot-nav {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 15px;
    color: gray;
    background: $clrBlack;
    transition: opacity 150ms ease;
}

.projNav {
    margin-top: 333px;
    width: 100%;
    padding: $safeArea 0;

    &-pivot {
        position: absolute;
        width: 2px;
        height: 10px;
        background: red;
        left: 0;
        padding-top: 5px;
        transition: translateX(0px);
        transition: transform $navSpeed ease;
    }

    &-left {
        @extend %projNavSides;
        right: 0;
    }

    &-right {
        @extend %projNavSides;
        left: 0;
    }

    button {
        color: $clrPrimarySoft;
        font-size: $fontS;
        height: 50px;
        vertical-align: bottom;
        padding-top: $safeArea/3;

        margin-left: 120px;
        margin-left: 7vw;

        transition: color $navSpeed ease, font $navSpeed ease, padding $navSpeed ease;
    }

    .js-active {
        color: $clrWhite;
        font-size: $fontLx;
        padding-top: 0;
    }
}
