/*------------------------------------*\
    ### VISITOR.SCSS ###

    css used on pages visited most
    for visitors (public pages)

    created by Sandrina Pereira
    * v0 27 may 2016

    >> TABLE OF CONTENTS
    > a template.scss must import:
        - _pages.scss - each page used by the template
        - any component used by the pages (atom, molecule or organism);
        NOTE: don't @import components on the pages to prevent duplicated imports.
        > # internal imports
        > # plugins imports
\*------------------------------------*/


/*------------------------------------*\
#IMPORTS
\*------------------------------------*/
@import "../00_atoms/scss";
@import "../00_atoms/typography";
@import "../00_atoms/buttons";

@import "../01_organisms/nav-sections";
@import "../01_organisms/chat";
@import "../01_organisms/projects";
@import "../01_organisms/void";
@import "../01_organisms/cv";
@import "../01_organisms/bot";


/*------------------------------------*\
#OTHERS - PLUGINS, JS, IE
\*------------------------------------*/
// @import "../00_atoms/js_manipulation";
// etc..

// .chat,
// .void,
// .under {
//     display: block !important;
// }
