/*------------------------------------*\
    ### VISITOR.SCSS ###

    css used on pages visited most
    for visitors (public pages)

    created by Sandrina Pereira
    * v0 27 may 2016

    >> TABLE OF CONTENTS
    > a template.scss must import:
        - _pages.scss - each page used by the template
        - any component used by the pages (atom, molecule or organism);
        NOTE: don't @import components on the pages to prevent duplicated imports.
        > # internal imports
        > # plugins imports
\*------------------------------------*/
/*------------------------------------*\
#IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    @mixins / &placeholder / functions

    > @function calculate rem
    > @media queries
    > @position centerxy
    > flexbox vs floats
    > calc
    > %retina2x
    > others
\*------------------------------------*/
/*------------------------------------*\
    #MEDIA QUERIES
\*------------------------------------*/
/*------------------------------------*\
    #POSITION
\*------------------------------------*/
/*------------------------------------*\
    #FLEXBOX & CLEARFIX
\*------------------------------------*/
.chatPart, .cv-section {
  *zoom: 1;
}
.chatPart:before, .cv-section:before, .chatPart:after, .cv-section:after {
  content: "";
  display: table;
}
.chatPart:after, .cv-section:after {
  clear: both;
}
.chatPart > *, .cv-section > * {
  float: left;
}

/*------------------------------------*\
    #CALC
\*------------------------------------*/
/*------------------------------------*\
    #IMG RETINA
\*------------------------------------*/
/*------------------------------------*\
    #OTHERS
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  padding: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*CUSTOM*/
* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
}
body * {
  box-sizing: inherit;
}

main {
  position: relative;
  width: 100%;
}

/*------------------------------------*\
### TYPOGRAPHY   ###
\*------------------------------------*/
html {
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: "Roboto Mono", sans-serif;
}
html * {
  line-height: inherit;
}
@media (min-width: 68.75rem) and (min-height: 25rem) {
  html {
    font-size: 1rem;
  }
}
@media (min-width: 100rem) and (min-height: 25rem) {
  html {
    font-size: 1.25rem;
  }
}

p, .p {
  font-size: inherit;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
a:focus {
  outline: 0;
  box-shadow: 0 0 0 1px;
}

i, em {
  font-style: italic;
}

strong, b {
  font-weight: 600;
}

/*------------------------------------*\
HELPERS
\*------------------------------------*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.cf {
  *zoom: 1;
}
.cf:before,
.cf :after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.nowrap {
  white-space: nowrap;
}

a:focus, button:focus {
  animation-name: flash;
  animation-duration: 250ms;
}

a:focus a, a:focus .fa, a:focus .glyphicon, button:focus a, button:focus .fa, button:focus .glyphicon {
  animation-name: flash;
  animation-duration: 250ms;
}

@keyframes flash {
  50% {
    color: transparent;
  }
}
button {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  background: none;
  border: none;
  outline: 0;
  cursor: pointer;
}
button:focus {
  border: none;
  opacity: 1;
  animation-name: flash;
  animation-duration: 250ms;
}

.btnNav {
  font-weight: 600;
  color: #525252;
  padding: 0.2rem 0.5rem;
  color: #008080;
}
.btnNav:hover {
  opacity: 1;
  color: white;
  animation: glitch 2s steps(100) infinite;
}
.btnNav.jsActive {
  background: #121212;
  color: white;
}

@media (min-width: 28.125rem) {
  .btnNav {
    padding: 0.2rem 1rem;
  }
}
.btnB {
  background: #121212;
  color: white;
  padding: 0 0.2rem;
  line-height: 1.5;
}
.btnB:hover {
  animation: glitch 2s steps(100) infinite;
}

@keyframes animateBorderThree {
  25% {
    outline-color: white;
    box-shadow: 0 0 0 1px black;
  }
  75% {
    outline: 1px dashed black;
    box-shadow: 0 0 0 1px white;
  }
}
.btnOut1,
.btnOut2 {
  display: inline-block;
  padding: 0 0.5rem;
  line-height: 0.625rem;
}
.btnOut1:hover,
.btnOut2:hover {
  color: #00e8e8;
}
.btnOut1:last-child,
.btnOut2:last-child {
  padding-right: 0;
}

.btnOut1 {
  font-size: 1.25rem;
  animation: glitch1 2s steps(100) infinite;
  animation-delay: 4s;
}

.btnOut2 {
  animation: glitch2 2s steps(100) infinite;
  animation-delay: 2s;
}

.link {
  border-bottom: 1px dotted #121212;
}
.link:hover {
  color: #008080;
  border-bottom: 1px dashed #008080;
}

@keyframes glitch {
  0% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  4% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  5% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  10% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  41% {
    text-shadow: 50px 0 0 blue, -50px 0 0 lime;
  }
  15% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  20% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  25% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  30% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  35% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  40% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  42% {
    text-shadow: 0 0 0 blue, 0 0 0 lime;
  }
  43% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  46% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  47% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  50% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  51% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  55% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  56% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  60% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  61% {
    text-shadow: 30px 0 0 red, -30px 0 0 lime;
  }
  62% {
    text-shadow: 0 0 0 red, 0 0 0 lime;
  }
  63% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
  }
  66% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
  }
  67% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  70% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  71% {
    text-shadow: 70px 0 0 red, -70px 0 0 blue;
  }
  72% {
    text-shadow: 0 0 0 red, 0 0 0 blue;
  }
  73% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  76% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  80% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  81% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  85% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  86% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  90% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  91% {
    text-shadow: 60px 0 0 lime, -60px 0 0 blue;
  }
  92% {
    text-shadow: 0 0 0 lime, 0 0 0 blue;
  }
  92% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  95% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  96% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  99% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  100% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
}
@keyframes glitch1 {
  60% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  61% {
    text-shadow: 30px 0 0 red, -30px 0 0 lime;
  }
  62% {
    text-shadow: 0 0 0 red, 0 0 0 lime;
    color: yellow;
  }
  63% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
  }
  66% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
  }
  67% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
}
@keyframes glitch2 {
  15% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  20% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  25% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  30% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  35% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  40% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
}
.hiThere {
  width: 90%;
  max-width: 32rem;
  margin: auto;
  text-align: center;
  padding-top: 20vh;
}
.hiThere-hey {
  font-size: 3.5rem;
  transition: all 1000ms;
  opacity: 1;
  display: none;
}
.hiThere-hey.jsLoading {
  margin-top: 4rem;
  opacity: 0;
}
.hiThere-intro {
  font-size: 1.25rem;
  padding: 2rem 0;
  transition: all 1000ms;
  opacity: 1;
  display: none;
}
.hiThere-intro.jsLoading {
  margin-top: -2rem;
  opacity: 0;
}
.hiThere-intro.jsFixed {
  padding-bottom: 4rem;
}

.chat {
  padding: 30vh 0 150px;
  width: 95%;
  min-height: 200vh;
  margin: auto;
}
@media (min-width: 68.75rem) and (min-height: 25rem) {
  .chat {
    width: 70%;
  }
}
.chatSection {
  padding: 2rem 0;
}
.chatPart {
  position: relative;
  width: 100%;
}
.chatPart:first-of-type .chatPart-human, .chatPart:first-of-type .chatPart-bot {
  padding-top: 0;
}
.chatPart:first-of-type .chatPart-title {
  font-size: 1.75rem;
}
.chatPart:last-of-type .chatPart-human, .chatPart:last-of-type .chatPart-bot {
  padding-bottom: 0;
}
.chatPart-human {
  width: 100%;
  padding: 1rem;
  border-right: 1px solid #121212;
  overflow: hidden;
  display: none;
}
.chatPart-title, .chatPart-subtitle {
  text-align: right;
  font-weight: 600;
  transition: margin 250ms;
  margin-right: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
}
.chatPart-title.jsLoading, .chatPart-subtitle.jsLoading {
  margin-right: -100%;
}
.chatPart-subtitle {
  font-size: 1.125rem;
  font-weight: 400;
}
.chatPart-bot {
  width: 100%;
  padding: 0.5rem;
  border-left: 1px solid #121212;
  border-right: 1px solid #121212;
  overflow: hidden;
  display: none;
}
.chatPart-text, .chatPart-redirect {
  color: #c5c5c5;
  opacity: 1;
  transition: opacity 250ms;
}
.chatPart-text:hover, .chatPart-redirect:hover {
  color: black;
}
.chatPart-text strong, .chatPart-redirect strong {
  font-weight: inherit;
  color: black;
}
.chatPart-text.jsLoading, .chatPart-redirect.jsLoading {
  opacity: 0;
}
.chatPart-redirect {
  padding-top: 1rem;
}
.chatPart-option {
  display: inline-block;
  width: 49%;
  padding-top: 1rem;
  padding-right: 0.5rem;
  overflow: hidden;
}
.chatPart-option:nth-child(2) {
  position: relative;
  z-index: 2;
}
.chatPart-option:last-child {
  padding-right: 0;
}
.chatPart .btnB {
  margin-left: 0;
  transition: margin 500ms;
}
.chatPart .btnB.jsLoading {
  margin-left: -100%;
}
.chatPart--jsLast .chatPart-text {
  color: black;
}
.chatPart--project .chatPart-bot {
  overflow: visible;
  padding: 1rem 0 2rem;
}
.chatPart--project .chatPart-human {
  padding: 0;
  margin-top: 32px;
  text-align: right;
}
.chatPart--project .chatPart-title {
  color: white;
  background: #121212;
  padding: 0 0.33333rem 0 1rem;
  display: inline-block;
  font-size: 1.5rem !important;
}
.chatPart--project .chatPart-subtitle {
  background: white;
  z-index: 3;
  position: relative;
  padding: 0 0.33333rem;
  margin-top: 0.33333rem;
}
.chatPart--project .chatPart-option {
  padding-top: 2rem;
  padding-left: 1rem;
}
.chatPart-project {
  color: white;
  margin-left: -5px;
}
.chatPart-fs {
  background: black;
  padding: 1rem;
  margin-left: 0;
  display: none;
}
.chatPart-fs img {
  width: 100%;
  opacity: 0;
}
.chatPart-fs.jsGlitchIn img {
  opacity: 1;
}
.chatPart-role {
  font-size: 1.25rem;
  padding-top: 1rem;
  background: white;
  color: black;
  padding: 10px 15px;
  margin: -12px 44px 0 -36px;
  display: none;
  margin-left: 150%;
  width: 100%;
  transition: margin 500ms;
}
.chatPart-role.jsGlitchIn {
  display: block;
  margin-left: 7px;
}
.chatPart-capt, .chatPart-more {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.7;
  display: none;
  background: #121212;
  padding: 2rem 1rem;
  margin: -9px 13px -5px 5px;
  z-index: -1;
  position: relative;
}
.chatPart-capt br, .chatPart-more br {
  font-size: 1.7rem;
}
.chatPart-more {
  margin: -12px 2px -12px -2px;
  padding-top: 1rem;
  background: #2c2c2c;
  z-index: 0;
  transition: all 500ms;
  display: block;
  max-height: 500px;
  overflow: hidden;
}
.chatPart-more.jsLoading {
  max-height: 0;
  padding: 0;
  margin: -2px 302px 0 50px;
}
.chatPart-details {
  padding-top: 1rem;
  background: #008080;
  padding: 5px 15px;
  text-align: right;
  position: relative;
  margin-left: 400px;
  margin-right: 100px;
  display: none;
  transition: margin 250ms;
}
.chatPart-details.jsGlitchIn {
  margin: -8px -10px 0px 52px;
}
.chatPart-www {
  display: inline-block;
  width: 100%;
  text-align: right;
}
.chatPart .btnDetails {
  position: absolute;
  left: -24px;
  padding: 0 0.33333rem;
  background: white;
  color: black;
  margin-top: -12px;
  display: none;
  left: 250px;
  transition: left 250ms;
}
.chatPart .btnDetails:hover {
  animation: 250ms animateBorderThree ease infinite;
}
.chatPart .btnDetails.jsGlitchIn {
  left: -24px;
}
.chatPart-checkItOut {
  font-size: 0.875rem;
  font-family: "Roboto Mono", sans-serif;
  display: inline-block;
  color: #121212;
  padding-right: 0.5rem;
}
.chatPart-checkItOut.jsActive {
  color: white;
  animation: glitch 2s steps(100) infinite;
}

@media (min-width: 34.375rem) {
  .chatPart-human {
    width: 30%;
  }
  .chatPart-bot {
    width: 70%;
    padding: 1rem;
    margin-left: -1px;
    border-rigth: 0;
  }
  .chatPart-option {
    padding-right: 1rem;
  }
  .chatPart-role {
    margin: -12px 44px 0 -36px;
  }
  .chatPart-role.jsGlitchIn {
    display: block;
    margin-left: -44px;
  }
  .chatPart-more {
    margin: -12px 2px -12px -152px;
  }
}
.liIndex-ul {
  width: 100%;
}
.liIndex-liCateg {
  display: inline-block;
  margin-top: 0.5rem;
}
.liIndex-categ, .cv-liTitle {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0.5rem;
}
.liIndex-liProj {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.liIndex-sub {
  padding-left: 0.5rem;
  margin-right: 0.5rem;
  border-bottom: 1px solid black;
}

.cv {
  z-index: 11;
  position: relative;
  width: 100%;
  background: #121212;
  color: white;
  padding: 100vh 5vh 5vh;
  width: 100%;
}
.cv-header {
  position: relative;
  margin: auto;
  text-align: center;
}
.cv-ascii {
  display: inline-block;
  text-align: center;
  width: 300px;
  font-size: 0.625rem;
}
.cv-section {
  text-align: center;
}
.cv-article {
  display: inline-block;
  width: 33%;
  padding: 2rem;
  text-align: left;
}
.cv-article-in {
  background: white;
  color: #121212;
}
.cv-title {
  font-size: 1.75rem;
  padding: 1rem 1rem 0.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  border-bottom: 2px solid white;
  background: black;
  color: white;
}
.cv-dl {
  padding: 0 1rem;
}
.cv-dt {
  font-weight: 400;
}
.cv-dd {
  font-weight: 300;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}
.cv-liTitle {
  padding: 0 1rem;
}
.cv .liIndex-ul {
  padding: 0 1rem;
}
.cv .liIndex-liCateg, .cv .liIndex-categ, .cv .cv-liTitle {
  margin-top: 0;
}
.cv .liIndex-liCateg {
  margin-bottom: 1rem;
}
.cv .liIndex-sub {
  margin-left: -0.75rem;
}
.cv-ul {
  padding: 0 1rem 1rem;
}
.cv-li {
  font-weight: 300;
}
.cv-bot {
  width: 100%;
  background: #121212;
  padding: 1rem;
  text-align: center;
}
.cv-bot > * {
  background: white;
  color: #121212;
}

.js-loadingRetro {
  position: absolute;
  top: 1rem;
  padding-left: 1rem;
  animation: glitch 2s steps(100) infinite;
}

.navSections {
  margin: auto;
  position: relative;
  z-index: 11;
  width: 100%;
  text-align: center;
  padding: 0;
  border-bottom: 1px dashed #c5c5c5;
  background: white;
  height: 2rem;
  transition: width 1000ms;
  overflow: hidden;
}
.navSections.jsLoading {
  border: 0;
  width: 0;
}
.navSections.jsFixed {
  position: fixed;
  top: 0;
}
.navSections-btn {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  transition: margin 500ms;
}
.navSections-btn.jsLoading {
  margin-bottom: -3rem;
}

@media (min-width: 34.375rem) {
  .navSections-btn {
    width: 8rem;
  }
}
.runAway {
  z-index: 11;
  position: relative;
  height: 200vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #121212);
  pointer-events: none;
  padding: 100vw 10vw;
  text-align: center;
}

/*------------------------------------*\
#OTHERS - PLUGINS, JS, IE
\*------------------------------------*/
/*------------------------------------*\
#CLASSES TO JS MANIPULATION
// note: it is very important that you don't change the classes order
\*------------------------------------*/
.ie img[src*=".svg"] {
  width: 100%;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ie img[src*=".svg"] {
    width: 100%;
  }
}
