/*------------------------------------*\
    ### VISITOR.SCSS ###

    css used on pages visited most
    for visitors (public pages)

    created by Sandrina Pereira
    * v0 27 may 2016

    >> TABLE OF CONTENTS
    > a template.scss must import:
        - _pages.scss - each page used by the template
        - any component used by the pages (atom, molecule or organism);
        NOTE: don't @import components on the pages to prevent duplicated imports.
        > # internal imports
        > # plugins imports
\*------------------------------------*/
/*------------------------------------*\
#IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    @mixins / &placeholder / functions

    > @function calculate rem
    > @media queries
    > @position centerxy
    > flexbox vs floats
    > calc
    > %retina2x
    > others
\*------------------------------------*/
/*------------------------------------*\
    #MEDIA QUERIES
\*------------------------------------*/
/*------------------------------------*\
    #POSITION
\*------------------------------------*/
/*------------------------------------*\
    #FLEXBOX & CLEARFIX
\*------------------------------------*/
.chatPart, .under-section {
  *zoom: 1;
}
.chatPart:before, .under-section:before, .chatPart:after, .under-section:after {
  content: "";
  display: table;
}
.chatPart:after, .under-section:after {
  clear: both;
}
.chatPart > *, .under-section > * {
  float: left;
}

@media (min-width: 28.125rem) {
  .flexbox .under-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .under-section > * {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
  }
}
/*------------------------------------*\
    #CALC
\*------------------------------------*/
/*------------------------------------*\
    #IMG RETINA
\*------------------------------------*/
/*------------------------------------*\
    #OTHERS
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  padding: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*CUSTOM*/
* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
}
body * {
  box-sizing: inherit;
}

main {
  position: relative;
  width: 100%;
}

/*------------------------------------*\
### TYPOGRAPHY   ###
\*------------------------------------*/
html {
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: "Roboto Mono", sans-serif;
}
html * {
  line-height: inherit;
}
@media (min-width: 62.5rem) and (min-height: 25rem) {
  html {
    font-size: 1rem;
  }
}
@media (min-width: 100rem) and (min-height: 25rem) {
  html {
    font-size: 1.25rem;
  }
}

p, .p {
  font-size: inherit;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
a:focus {
  outline: 0;
  box-shadow: 0 0 0 1px;
}

i, em {
  font-style: italic;
}

strong, b {
  font-weight: 600;
}

/*------------------------------------*\
HELPERS
\*------------------------------------*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.cf {
  *zoom: 1;
}
.cf:before,
.cf :after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.nowrap {
  white-space: nowrap;
}

a:focus, button:focus {
  -webkit-animation-name: flash;
          animation-name: flash;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
}

a:focus a, a:focus .fa, a:focus .glyphicon, button:focus a, button:focus .fa, button:focus .glyphicon {
  -webkit-animation-name: flash;
          animation-name: flash;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
}

@-webkit-keyframes flash {
  50% {
    color: transparent;
  }
}

@keyframes flash {
  50% {
    color: transparent;
  }
}
button {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  background: none;
  border: none;
  outline: 0;
  cursor: pointer;
}
button:focus {
  border: none;
  opacity: 1;
  -webkit-animation-name: flash;
          animation-name: flash;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
}

.btnNav {
  font-weight: 600;
  color: #525252;
  padding: 0.2rem 0.5rem;
  color: #008080;
}
.btnNav:hover {
  opacity: 1;
  color: white;
  -webkit-animation: glitch 2s steps(100) infinite;
          animation: glitch 2s steps(100) infinite;
}
.btnNav.jsActive {
  background: #121212;
  color: white;
}

@media (min-width: 28.125rem) {
  .btnNav {
    padding: 0.2rem 1rem;
  }
}
.btnB {
  background: #121212;
  color: white;
  padding: 0 0.2rem;
  line-height: 1.5;
}
.btnB:hover {
  -webkit-animation: glitch 2s steps(100) infinite;
          animation: glitch 2s steps(100) infinite;
}

@-webkit-keyframes animateBorderThree {
  25% {
    outline-color: white;
    box-shadow: 0 0 0 1px black;
  }
  75% {
    outline: 1px dashed black;
    box-shadow: 0 0 0 1px white;
  }
}

@keyframes animateBorderThree {
  25% {
    outline-color: white;
    box-shadow: 0 0 0 1px black;
  }
  75% {
    outline: 1px dashed black;
    box-shadow: 0 0 0 1px white;
  }
}
.btnOut1,
.btnOut2 {
  display: inline-block;
  padding: 0 0.5rem;
  line-height: 0.625rem;
}
.btnOut1:hover,
.btnOut2:hover {
  color: #00e8e8;
}
.btnOut1:last-child,
.btnOut2:last-child {
  padding-right: 0;
}

.btnOut1 {
  font-size: 1.25rem;
  -webkit-animation: glitch1 2s steps(100) infinite;
          animation: glitch1 2s steps(100) infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.btnOut2 {
  -webkit-animation: glitch2 2s steps(100) infinite;
          animation: glitch2 2s steps(100) infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.link {
  border-bottom: 1px dotted #121212;
}
.link:hover {
  color: #008080;
  border-bottom: 1px dashed #008080;
}

@-webkit-keyframes glitch {
  0% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  4% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  5% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  10% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  41% {
    text-shadow: 50px 0 0 blue, -50px 0 0 lime;
  }
  15% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  20% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  25% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  30% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  35% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  40% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  42% {
    text-shadow: 0 0 0 blue, 0 0 0 lime;
  }
  43% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  46% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  47% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  50% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  51% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  55% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  56% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  60% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  61% {
    text-shadow: 30px 0 0 red, -30px 0 0 lime;
  }
  62% {
    text-shadow: 0 0 0 red, 0 0 0 lime;
  }
  63% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
  }
  66% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
  }
  67% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  70% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  71% {
    text-shadow: 70px 0 0 red, -70px 0 0 blue;
  }
  72% {
    text-shadow: 0 0 0 red, 0 0 0 blue;
  }
  73% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  76% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  80% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  81% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  85% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  86% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  90% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  91% {
    text-shadow: 60px 0 0 lime, -60px 0 0 blue;
  }
  92% {
    text-shadow: 0 0 0 lime, 0 0 0 blue;
  }
  92% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  95% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  96% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  99% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  100% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
}

@keyframes glitch {
  0% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  4% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  5% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  10% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  41% {
    text-shadow: 50px 0 0 blue, -50px 0 0 lime;
  }
  15% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  20% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  25% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  30% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  35% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  40% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  42% {
    text-shadow: 0 0 0 blue, 0 0 0 lime;
  }
  43% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  46% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  47% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  50% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  51% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  55% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  56% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  60% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  61% {
    text-shadow: 30px 0 0 red, -30px 0 0 lime;
  }
  62% {
    text-shadow: 0 0 0 red, 0 0 0 lime;
  }
  63% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
  }
  66% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
  }
  67% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  70% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  71% {
    text-shadow: 70px 0 0 red, -70px 0 0 blue;
  }
  72% {
    text-shadow: 0 0 0 red, 0 0 0 blue;
  }
  73% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  76% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  80% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  81% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  85% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  86% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  90% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  91% {
    text-shadow: 60px 0 0 lime, -60px 0 0 blue;
  }
  92% {
    text-shadow: 0 0 0 lime, 0 0 0 blue;
  }
  92% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  95% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  96% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  99% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  100% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
}
@-webkit-keyframes glitch1 {
  60% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  61% {
    text-shadow: 30px 0 0 red, -30px 0 0 lime;
  }
  62% {
    text-shadow: 0 0 0 red, 0 0 0 lime;
    color: yellow;
  }
  63% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
  }
  66% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
  }
  67% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
}
@keyframes glitch1 {
  60% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  61% {
    text-shadow: 30px 0 0 red, -30px 0 0 lime;
  }
  62% {
    text-shadow: 0 0 0 red, 0 0 0 lime;
    color: yellow;
  }
  63% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
  }
  66% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
  }
  67% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
}
@-webkit-keyframes glitch2 {
  15% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  20% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  25% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  30% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  35% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  40% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
}
@keyframes glitch2 {
  15% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  20% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  25% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  30% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  35% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  40% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
}
.heyThere {
  width: 90%;
  max-width: 32rem;
  margin: auto;
  text-align: center;
  padding-top: 20vh;
}
.heyThere-hey {
  font-size: 3.5rem;
  -webkit-transition: all 1000ms;
          transition: all 1000ms;
  opacity: 1;
  display: none;
}
.heyThere-hey.jsLoading {
  margin-top: 4rem;
  opacity: 0;
}
.heyThere-intro {
  font-size: 1.25rem;
  padding: 2rem 0;
  -webkit-transition: all 1000ms;
          transition: all 1000ms;
  opacity: 1;
  display: none;
}
.heyThere-intro.jsLoading {
  margin-top: -2rem;
  opacity: 0;
}
.heyThere-intro.jsFixed {
  padding-bottom: 4rem;
}

.navSections {
  margin: auto;
  position: relative;
  z-index: 11;
  width: 100%;
  text-align: center;
  padding: 0;
  border-bottom: 1px dashed #c5c5c5;
  background: white;
  height: 2rem;
  -webkit-transition: width 1000ms;
          transition: width 1000ms;
  overflow: hidden;
}
.navSections.jsLoading {
  border: 0;
  width: 0;
}
.navSections.jsFixed {
  position: fixed;
  top: 0;
}
.navSections-btn {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: margin 500ms;
          transition: margin 500ms;
}
.navSections-btn.jsLoading {
  margin-bottom: -3rem;
}

@media (min-width: 34.375rem) {
  .navSections-btn {
    width: 8rem;
  }
}
.chat {
  padding: 30vh 0 150px;
  width: 95%;
  min-height: 200vh;
  margin: auto;
}
.chatSection {
  padding: 2rem 0;
}
.chatPart {
  position: relative;
  width: 100%;
}
.chatPart:first-of-type .chatPart-human, .chatPart:first-of-type .chatPart-bot {
  padding-top: 0;
}
.chatPart:first-of-type .chatPart-title {
  font-size: 1.75rem;
}
.chatPart:last-of-type .chatPart-human, .chatPart:last-of-type .chatPart-bot {
  padding-bottom: 0;
}
.chatPart-human {
  width: 100%;
  padding: 1rem;
  border-right: 1px solid #121212;
  overflow: hidden;
  display: none;
}
.chatPart-title, .chatPart-subtitle {
  text-align: right;
  font-weight: 600;
  -webkit-transition: margin 250ms;
          transition: margin 250ms;
  margin-right: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
}
.chatPart-title.jsLoading, .chatPart-subtitle.jsLoading {
  margin-right: -100%;
}
.chatPart-subtitle {
  font-size: 1.125rem;
  font-weight: 400;
}
.chatPart-bot {
  width: 100%;
  padding: 0.5rem;
  border-left: 1px solid #121212;
  border-right: 1px solid #121212;
  overflow: hidden;
  display: none;
}
.chatPart-text, .chatPart-redirect {
  color: #c5c5c5;
  opacity: 1;
  -webkit-transition: opacity 250ms;
          transition: opacity 250ms;
}
.chatPart-text:hover, .chatPart-redirect:hover {
  color: black;
}
.chatPart-text strong, .chatPart-redirect strong {
  font-weight: inherit;
  color: black;
}
.chatPart-text.jsLoading, .chatPart-redirect.jsLoading {
  opacity: 0;
}
.chatPart-redirect {
  padding-top: 1rem;
}
.chatPart-option {
  display: inline-block;
  width: 49%;
  padding-top: 1rem;
  padding-right: 0.5rem;
  overflow: hidden;
}
.chatPart-option:nth-child(2) {
  position: relative;
  z-index: 2;
}
.chatPart-option:last-child {
  padding-right: 0;
}
.chatPart .btnB {
  margin-left: 0;
  -webkit-transition: margin 500ms;
          transition: margin 500ms;
}
.chatPart .btnB.jsLoading {
  margin-left: -100%;
}
.chatPart--jsLast .chatPart-text {
  color: black;
}
.chatPart--project .chatPart-bot {
  overflow: visible;
  padding: 1rem 0 2rem;
}
.chatPart--project .chatPart-human {
  padding: 0;
  margin-top: 32px;
  text-align: right;
}
.chatPart--project .chatPart-title {
  color: white;
  background: #121212;
  padding: 0 0.33333rem 0 1rem;
  display: inline-block;
  font-size: 1.5rem !important;
}
.chatPart--project .chatPart-subtitle {
  background: white;
  z-index: 3;
  position: relative;
  padding: 0 0.33333rem;
  margin-top: 0.33333rem;
}
.chatPart--project .chatPart-option {
  padding-top: 2rem;
  padding-left: 1rem;
}
.chatPart-project {
  color: white;
  margin-left: -5px;
}
.chatPart-fs {
  background: black;
  padding: 1rem;
  margin-left: 0;
  display: none;
}
.chatPart-fs img {
  width: 100%;
  opacity: 0;
}
.chatPart-fs.jsGlitchIn img {
  opacity: 1;
}
.chatPart-role {
  font-size: 1.25rem;
  padding-top: 1rem;
  background: white;
  color: black;
  padding: 10px 15px;
  margin: -12px 44px 0 -36px;
  display: none;
  margin-left: 150%;
  width: 100%;
  -webkit-transition: margin 500ms;
          transition: margin 500ms;
}
.chatPart-role.jsGlitchIn {
  display: block;
  margin-left: 7px;
}
.chatPart-capt, .chatPart-more {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.7;
  display: none;
  background: #121212;
  padding: 2rem 1rem;
  margin: -9px 13px -5px 5px;
  z-index: -1;
  position: relative;
}
.chatPart-capt br, .chatPart-more br {
  font-size: 1.7rem;
}
.chatPart-more {
  margin: -12px 2px -12px -2px;
  padding-top: 1rem;
  background: #2c2c2c;
  z-index: 0;
  -webkit-transition: all 500ms;
          transition: all 500ms;
  display: block;
  max-height: 500px;
  overflow: hidden;
}
.chatPart-more.jsLoading {
  max-height: 0;
  padding: 0;
  margin: -2px 302px 0 50px;
}
.chatPart-details {
  padding-top: 1rem;
  background: #008080;
  padding: 5px 15px;
  text-align: right;
  position: relative;
  margin-left: 400px;
  margin-right: 100px;
  display: none;
  -webkit-transition: margin 250ms;
          transition: margin 250ms;
}
.chatPart-details.jsGlitchIn {
  margin: -8px -10px 0px 52px;
}
.chatPart-www {
  display: inline-block;
  width: 100%;
  text-align: right;
}
.chatPart .btnDetails {
  position: absolute;
  left: -24px;
  padding: 0 0.33333rem;
  background: white;
  color: black;
  margin-top: -12px;
  display: none;
  left: 250px;
  -webkit-transition: left 250ms;
          transition: left 250ms;
}
.chatPart .btnDetails:hover {
  -webkit-animation: 250ms animateBorderThree ease infinite;
          animation: 250ms animateBorderThree ease infinite;
}
.chatPart .btnDetails.jsGlitchIn {
  left: -24px;
}
.chatPart-checkItOut {
  font-size: 0.875rem;
  font-family: "Roboto Mono", sans-serif;
  display: inline-block;
  color: #121212;
  padding-right: 0.5rem;
}
.chatPart-checkItOut.jsActive {
  color: white;
  -webkit-animation: glitch 2s steps(100) infinite;
          animation: glitch 2s steps(100) infinite;
}

@media (min-width: 34.375rem) {
  .chatPart-human {
    width: 30%;
  }
  .chatPart-bot {
    width: 70%;
    padding: 1rem;
    margin-left: -1px;
    border-rigth: 0;
  }
  .chatPart-option {
    padding-right: 1rem;
  }
  .chatPart-role {
    margin: -12px -344px 0 836px;
  }
  .chatPart-role.jsGlitchIn {
    display: block;
    margin-left: -44px;
  }
  .chatPart-more {
    margin: -12px 2px -12px -152px;
  }
}
@media (min-width: 62.5rem) and (min-height: 25rem) {
  .chat {
    width: 70%;
    max-width: 60rem;
  }
}
.liIndex-ul {
  width: 100%;
}
.liIndex-liCateg {
  display: inline-block;
  margin-top: 0.5rem;
}
.liIndex-categ, .under-liTitle {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0.5rem;
}
.liIndex-liProj {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.liIndex-sub {
  padding-left: 0.5rem;
  margin-right: 0.5rem;
  border-bottom: 1px solid black;
}
.liIndex--padding {
  padding: 0 1rem;
}
.liIndex--padding .liIndex-liCateg, .liIndex--padding .liIndex-categ, .liIndex--padding .under-liTitle {
  margin-top: 0;
}
.liIndex--padding .liIndex-liCateg {
  margin-bottom: 1rem;
}
.liIndex--padding .liIndex-sub {
  margin-left: -0.75rem;
}

.js-loadingRetro {
  position: absolute;
  top: 1rem;
  padding-left: 1rem;
}

.void {
  z-index: 11;
  position: relative;
  height: 200vh;
  width: 100%;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), #121212);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #121212);
  pointer-events: none;
  padding: 100vw 10vw;
  text-align: center;
}

.under {
  z-index: 11;
  position: relative;
  width: 100%;
  background: #121212;
  color: white;
  padding: 200vh 0 6rem;
  width: 100%;
}
.under-header {
  position: relative;
  margin: auto;
  text-align: center;
}
.under-ascii {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 5.4px;
  line-height: 1.2;
  height: 320px;
  overflow: hidden;
}
.under-section {
  text-align: center;
}
.under-article {
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
  text-align: left;
}
.under-article-in {
  background: white;
  color: #121212;
  position: relative;
  height: 100%;
}
.under-title {
  font-size: 1.75rem;
  padding: 1rem 1rem 0.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  border-bottom: 2px solid white;
  background: black;
  color: white;
}
.under-doting {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  width: 3rem;
  height: 2rem;
  text-align: right;
}
.under-doting:hover {
  -webkit-animation: glitch 2s steps(70) infinite;
          animation: glitch 2s steps(70) infinite;
}
.under-doting:hover:after {
  -webkit-animation: doting 500ms steps(3) infinite;
          animation: doting 500ms steps(3) infinite;
  color: #00e8e8;
}
.under-doting:after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  top: 0.5rem;
  -webkit-animation: doting 5s steps(3) infinite;
          animation: doting 5s steps(3) infinite;
}
.under-article:nth-of-type(1) .under-doting:after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.under-article:nth-of-type(2) .under-doting:after {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.under-article:nth-of-type(3) .under-doting:after {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.under-dl {
  padding: 0 1rem;
}
.under-dt {
  font-weight: 400;
}
.under-dd {
  font-weight: 300;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}
.under-liTitle {
  padding: 0 1rem;
}
.under-ul {
  padding: 0 1rem 1rem;
}
.under-li {
  font-weight: 300;
}
.under-bot {
  width: 100%;
  background: #121212;
  padding: 1rem;
  text-align: center;
}
.under-bot > * {
  background: white;
  color: #121212;
}
.under-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: black;
  text-align: center;
  padding: 1rem;
  font-size: 0.875rem;
}
.under-nav.jsFixed {
  position: fixed;
}
.under-nav a {
  position: relative;
  background: inherit;
}
.under-nav a:hover .under-nav-hover-1,
.under-nav a:hover .under-nav-hover-3 {
  opacity: 1;
}
.under-nav-hover-1, .under-nav-hover-3 {
  position: absolute;
  white-space: nowrap;
  font-size: 0.75rem;
  font-weight: 100;
  opacity: 0;
  padding: 0 0.33333rem;
  margin-top: 0.2rem;
}
.under-nav-hover-1 {
  right: 100%;
}
.under-nav-hover-3 {
  left: 100%;
}

@-webkit-keyframes doting {
  0% {
    content: ".";
  }
  5% {
    content: ". .";
  }
  10% {
    content: ". . .";
  }
  15% {
    content: ". .";
  }
  20% {
    content: ".";
  }
  25% {
    content: "";
  }
}

@keyframes doting {
  0% {
    content: ".";
  }
  5% {
    content: ". .";
  }
  10% {
    content: ". . .";
  }
  15% {
    content: ". .";
  }
  20% {
    content: ".";
  }
  25% {
    content: "";
  }
}
@media (min-width: 28.125rem) {
  .under-section {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .under-article {
    padding: 1rem;
    width: 50%;
  }
  .under-article:last-of-type {
    width: 100%;
  }
  .under-bot {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
@media (min-width: 46.875rem) and (min-height: 25rem) {
  .under {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .under-article {
    padding: 1rem 2rem;
  }
}
@media (min-width: 62.5rem) and (min-height: 25rem) {
  .under-article, .under-article:last-of-type {
    padding: 1rem;
    width: 33.333%;
    max-width: 30rem;
  }
}
@media (min-width: 100rem) and (min-height: 25rem) {
  .under-article, .under-article:last-of-type {
    padding: 2rem;
  }
}
.mee {
  position: absolute;
  opacity: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: myself 1s steps(5) infinite;
          animation: myself 1s steps(5) infinite;
}

.myself0 {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

.myself1 {
  -webkit-animation-delay: 125ms;
          animation-delay: 125ms;
}

.myself2 {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.myself3 {
  -webkit-animation-delay: 375ms;
          animation-delay: 375ms;
}

.myself4 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.myself5 {
  -webkit-animation-delay: 625ms;
          animation-delay: 625ms;
}

.myself6 {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

.myself7 {
  -webkit-animation-delay: 875ms;
          animation-delay: 875ms;
}

@-webkit-keyframes myself {
  0% {
    opacity: 0;
  }
  87.4% {
    opacity: 0;
  }
  87.5% {
    opacity: 1;
  }
  99.9% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes myself {
  0% {
    opacity: 0;
  }
  87.4% {
    opacity: 0;
  }
  87.5% {
    opacity: 1;
  }
  99.9% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.glitch {
  position: relative;
  margin: 0 auto;
  width: 300px;
  background: #121212;
  display: inline-block;
}
.glitch span {
  color: black;
}
.glitch:before, .glitch:after {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate-reverse;
          animation-direction: alternate-reverse;
  overflow: hidden;
  background: #121212;
  top: 0;
  width: 100%;
  clip: rect(0, 900px, 0, 0);
  content: attr(data-text);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.glitch:after {
  content: attr(data-sub);
  -webkit-animation-name: glitch-animation;
          animation-name: glitch-animation;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  text-shadow: -1px 0 yellow;
}
.glitch:before {
  -webkit-animation-name: glitch-animation-2;
          animation-name: glitch-animation-2;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  text-shadow: 1px 0 #00e8e8;
}

@-webkit-keyframes glitch-animation {
  0% {
    clip: rect(45px, 9999px, 97px, 0);
  }
  5% {
    clip: rect(58px, 9999px, 60px, 0);
  }
  10% {
    clip: rect(85px, 9999px, 66px, 0);
  }
  15.0% {
    clip: rect(26px, 9999px, 63px, 0);
  }
  20% {
    clip: rect(32px, 9999px, 93px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 63px, 0);
  }
  30.0% {
    clip: rect(98px, 9999px, 94px, 0);
  }
  35% {
    clip: rect(15px, 9999px, 89px, 0);
  }
  40% {
    clip: rect(86px, 9999px, 30px, 0);
  }
  45% {
    clip: rect(68px, 9999px, 62px, 0);
  }
  50% {
    clip: rect(92px, 9999px, 49px, 0);
  }
  55.0% {
    clip: rect(28px, 9999px, 66px, 0);
  }
  60.0% {
    clip: rect(94px, 9999px, 33px, 0);
  }
  65% {
    clip: rect(69px, 9999px, 40px, 0);
  }
  70% {
    clip: rect(1px, 9999px, 23px, 0);
  }
  75% {
    clip: rect(79px, 9999px, 2px, 0);
  }
  80% {
    clip: rect(2px, 9999px, 77px, 0);
  }
  85.0% {
    clip: rect(31px, 9999px, 32px, 0);
  }
  90% {
    clip: rect(53px, 9999px, 3px, 0);
  }
  95% {
    clip: rect(89px, 9999px, 15px, 0);
  }
  100% {
    clip: rect(88px, 9999px, 2px, 0);
  }
}

@keyframes glitch-animation {
  0% {
    clip: rect(45px, 9999px, 97px, 0);
  }
  5% {
    clip: rect(58px, 9999px, 60px, 0);
  }
  10% {
    clip: rect(85px, 9999px, 66px, 0);
  }
  15.0% {
    clip: rect(26px, 9999px, 63px, 0);
  }
  20% {
    clip: rect(32px, 9999px, 93px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 63px, 0);
  }
  30.0% {
    clip: rect(98px, 9999px, 94px, 0);
  }
  35% {
    clip: rect(15px, 9999px, 89px, 0);
  }
  40% {
    clip: rect(86px, 9999px, 30px, 0);
  }
  45% {
    clip: rect(68px, 9999px, 62px, 0);
  }
  50% {
    clip: rect(92px, 9999px, 49px, 0);
  }
  55.0% {
    clip: rect(28px, 9999px, 66px, 0);
  }
  60.0% {
    clip: rect(94px, 9999px, 33px, 0);
  }
  65% {
    clip: rect(69px, 9999px, 40px, 0);
  }
  70% {
    clip: rect(1px, 9999px, 23px, 0);
  }
  75% {
    clip: rect(79px, 9999px, 2px, 0);
  }
  80% {
    clip: rect(2px, 9999px, 77px, 0);
  }
  85.0% {
    clip: rect(31px, 9999px, 32px, 0);
  }
  90% {
    clip: rect(53px, 9999px, 3px, 0);
  }
  95% {
    clip: rect(89px, 9999px, 15px, 0);
  }
  100% {
    clip: rect(88px, 9999px, 2px, 0);
  }
}
@-webkit-keyframes glitch-animation-2 {
  0% {
    clip: rect(41px, 9999px, 53px, 0);
  }
  5% {
    clip: rect(83px, 9999px, 26px, 0);
  }
  10% {
    clip: rect(31px, 9999px, 56px, 0);
  }
  15.0% {
    clip: rect(14px, 9999px, 15px, 0);
  }
  20% {
    clip: rect(23px, 9999px, 6px, 0);
  }
  25% {
    clip: rect(22px, 9999px, 13px, 0);
  }
  30.0% {
    clip: rect(73px, 9999px, 17px, 0);
  }
  35% {
    clip: rect(24px, 9999px, 12px, 0);
  }
  40% {
    clip: rect(53px, 9999px, 68px, 0);
  }
  45% {
    clip: rect(37px, 9999px, 48px, 0);
  }
  50% {
    clip: rect(75px, 9999px, 80px, 0);
  }
  55.0% {
    clip: rect(85px, 9999px, 74px, 0);
  }
  60.0% {
    clip: rect(98px, 9999px, 23px, 0);
  }
  65% {
    clip: rect(51px, 9999px, 79px, 0);
  }
  70% {
    clip: rect(24px, 9999px, 83px, 0);
  }
  75% {
    clip: rect(32px, 9999px, 54px, 0);
  }
  80% {
    clip: rect(100px, 9999px, 22px, 0);
  }
  85.0% {
    clip: rect(33px, 9999px, 45px, 0);
  }
  90% {
    clip: rect(60px, 9999px, 49px, 0);
  }
  95% {
    clip: rect(5px, 9999px, 5px, 0);
  }
  100% {
    clip: rect(16px, 9999px, 68px, 0);
  }
}
@keyframes glitch-animation-2 {
  0% {
    clip: rect(41px, 9999px, 53px, 0);
  }
  5% {
    clip: rect(83px, 9999px, 26px, 0);
  }
  10% {
    clip: rect(31px, 9999px, 56px, 0);
  }
  15.0% {
    clip: rect(14px, 9999px, 15px, 0);
  }
  20% {
    clip: rect(23px, 9999px, 6px, 0);
  }
  25% {
    clip: rect(22px, 9999px, 13px, 0);
  }
  30.0% {
    clip: rect(73px, 9999px, 17px, 0);
  }
  35% {
    clip: rect(24px, 9999px, 12px, 0);
  }
  40% {
    clip: rect(53px, 9999px, 68px, 0);
  }
  45% {
    clip: rect(37px, 9999px, 48px, 0);
  }
  50% {
    clip: rect(75px, 9999px, 80px, 0);
  }
  55.0% {
    clip: rect(85px, 9999px, 74px, 0);
  }
  60.0% {
    clip: rect(98px, 9999px, 23px, 0);
  }
  65% {
    clip: rect(51px, 9999px, 79px, 0);
  }
  70% {
    clip: rect(24px, 9999px, 83px, 0);
  }
  75% {
    clip: rect(32px, 9999px, 54px, 0);
  }
  80% {
    clip: rect(100px, 9999px, 22px, 0);
  }
  85.0% {
    clip: rect(33px, 9999px, 45px, 0);
  }
  90% {
    clip: rect(60px, 9999px, 49px, 0);
  }
  95% {
    clip: rect(5px, 9999px, 5px, 0);
  }
  100% {
    clip: rect(16px, 9999px, 68px, 0);
  }
}
.jsGlitching {
  -webkit-animation: glitch 2s steps(100) infinite;
          animation: glitch 2s steps(100) infinite;
}

/*------------------------------------*\
#OTHERS - PLUGINS, JS, IE
\*------------------------------------*/
/*------------------------------------*\
#CLASSES TO JS MANIPULATION
// note: it is very important that you don't change the classes order
\*------------------------------------*/
.ie img[src*=".svg"] {
  width: 100%;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ie img[src*=".svg"] {
    width: 100%;
  }
}
