$cvPaddingLeft: 10vw;
$asciiSize: 300px;
%cvSub {
    font-size: $fontL;
    font-weight: $fMed;
    color: $clrWhite;
}

%cvItems {
    letter-spacing: 0.4px;
    font-size: $fontS;
    font-family: $font-mono;
}

// .js-onWebAfter {
//     padding-top: $safeArea*3;
// }

@mixin ListAlignments {
    width: 50%;
    &:nth-of-type(2n+1) { text-align: left; }
    &:nth-of-type(2n) { text-align: right; }
}


@mixin ListAlignments-pha {
    width: 33.333%;
    &:nth-of-type(1n) { text-align: center; }
    &:nth-of-type(3n+1) { text-align: left; }
    &:nth-of-type(3n) { text-align: right; }
}

@mixin isJs-List {
    &.is-js > * {
        opacity: 0;
        transform: translateY(50px);
        transition: opacity $speed*3, transform $speed*3;
    }

    &.is-active > * {
        opacity: 1;
        transform: translateY(0);
    }
}

.cv {
    display: block;
    position: relative;
    background: $clrLight;
    color: $clrLight;
    margin-bottom: rem(280); //space to .psst
    z-index: 2; //above #cv
    overflow: hidden;

    &-bg {
        position: absolute;
        display: block;

        width: 200vw;
        height: 200vw;
        top: 50vh;
        background: radial-gradient(-10% 50%, circle, rgba(#004040, 0.7) 2%, rgba(0, 0, 0, 0) 35%);

        &.is-js {
            top: 850vh;
        }
    }

    &-ascii {
        position: absolute;
        top: $safeArea*2;
        left: 50%;
        width: $asciiSize;
        height: $asciiSize;
        font-size: 5.2px;
        line-height: 1.2;
        overflow: hidden;
        font-family: $font-mono;
        font-weight: $fBold;
        color: $clrLight;
        opacity: 0.5;
        pointer-events: none;
    }

    &-article {
        position: relative;
        padding-bottom: $safeArea*2;
        background: $clrDark;
        color: $clrLight;

        &--contact {
            padding-bottom: 0;
            // margin-bottom: $safeArea*8;

            .cv-article-in {
                min-height: calc(#{$safeArea*4} + #{$asciiSize});
                padding: $safeArea*3 0 $safeArea*3 $safeArea*2;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        &-in {
            padding: $safeArea;
        }

        &-header {
            text-align: center;
        }
    }

    &-title {
        position: relative;
        font-size: $fontXXL;
        font-family: $font-mono;
        font-weight: $fMed;
        padding: $safeArea*6 0 0;
        text-transform: lowercase;

        &.is-js {
            transform: scale(0.5);
            opacity: 0;
            transition: transform $speed*3;
        }

        &.is-active {
            transform: scale(1);
            animation: heyIntro 3s steps(11);
            animation-fill-mode: forwards;
            animation-delay: -2s;
            opacity: 0.1;
        }
    }


    //Social Network
    &-dl {
        // padding-bottom: $safeArea*4;
        z-index: 2;
        // text-align: center;
    }

    &-dt {
        @extend %cvSub;

        &:not(:first-of-type) {
            margin-top: $safeArea / 3 * 4;
        }
    }

    &-dd {
        position: relative;
        display: inline-block;
        @extend %cvItems;
        background: $clrDark;
        padding-right: $safeArea/2;
        z-index: 2;
    }

    &-link {
        display: inline-block;
        padding-right: $safeArea/2;
        background: $clrDark;
        color: $clrPrimarySoft;
        font-family: $font-mono;
        font-weight: $fMed;
        cursor: alias;

        &:hover {
            border-bottom: 1px dotted $clrLight;
        }
    }


    &-list {
        max-width: $safeArea*34;
        margin-left: auto;
        margin-right: auto;
        @extend %cf;
        @include isJs-List;

        .link {
            border-color: $clrGray;
        }


        &-title {
            font-size: $fontLx;
            font-family: $font-mono;
            position: relative;
            width: 100%;
            text-align: center;
            @extend %flexbox;
            justify-content: center;
            padding: $safeArea*3 0 $safeArea*2;
            white-space: nowrap;
            align-items: center;

            &::before {
                margin-right: $safeArea/2;
            }

            &::after {
                margin-left: $safeArea/2;
            }

            &::before,
            &::after {
                content: '';
                width: 1%;
                height: 1px;
                background: $clrPrimary;
                margin-top: $safeArea/3;
                transition: width $speed*3;
                flex: 1;
            }

            .is-active & {
                &::before,
                &::after {
                    width: 50%;
                }
            }
        }

        &-ul {
            font-weight: $fMed;
            font-family: $font-mono;
            font-size: $fontS;
            color: $clrGrayLight;
            @include ListAlignments;

            li {
                width: 100%;
                padding-bottom: $safeArea;
            }

            &--split {
                width: 100%;
                @extend %cf;

                li {
                    @include ListAlignments;
                }
            }


            &--all {
                width: 100%;

                li {
                    width: 100%;
                    text-align: center;
                }
            }
        }

        &-dl {
            position: relative;
            width: 100%;
            max-width: $safeArea*20;
            margin: auto;
            float: none;

            dt {
                padding-bottom: $safeArea/3;

                .at {
                    font-size: $fontS;
                    white-space: nowrap;
                }
            }

            &-date {
                position: absolute;
                right: 0;
                font-size: $fontXS;
                opacity: 0.4;
                margin-top: -$safeArea*1.5;
            }

            &-desc {
                font-family: $font-mono;
                font-size: $fontXS;
                color: $clrGrayLight;
                padding-bottom: $safeArea*1.5;
            }
        }
    }


    &-projs {
        background: $clrDark;
        width: 100%;
        padding-bottom: $safeArea*2;

        &-proj {
            padding: 0 $safeArea/2;
            @include isJs-List;

            &-sub {
                display: block;
                text-align: center;
                font-family: $font-mono;
                color: $clrGrayLight;
                font-size: $fontS;
                padding: $safeArea $safeArea/2 $safeArea/2;

                span {
                    animation: showText 300ms steps(7);
                    animation-fill-mode: forwards;
                }
            }

            &-ul {
                position: relative;
                text-align: center;
                padding-bottom: $safeArea;
            }

            li {
                display: inline-block;
                padding: $safeArea;
            }
        }


        .cv-link {
            color: lighten($clrPrimaryDark, 10%);
            transition: font 50ms;

            &:hover,
            &.active {
                color: $clrPrimarySoft;
            }

            &.active {
                font-size: $fontL;
                animation: glitch 2s steps(100) infinite;
            }
        }
    }

    @include media(untilPhablet) {
        &-list {
            &-ul {
                &:nth-of-type(3) {
                    width: 100%;
                    @extend %cf-untPha;

                    li {
                        @include ListAlignments;
                    }
                }
            }
        }
    }

    @include media(phablet) {
        &-title {
            font-size: $font4XL;
        }

        &-list {
            &-ul {
                @include ListAlignments-pha;

                li {
                    width: 100%;
                    padding-bottom: $safeArea;
                }

                &--split {
                    width: 100%;
                    @extend %cf-pha;

                    li {
                        @include ListAlignments-pha;
                    }
                }

                &--all {
                    width: 100%;

                    li {
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            &-dl {
                width: 50%;
                padding: 0 $safeArea*1.5;
                float: left;

                &:nth-of-type(2n+1) {
                    padding-left: 0;

                    .cv-list-dl-date {
                        right: $safeArea;
                    }
                }

                &:nth-of-type(2n) {
                    padding-right: 0;
                }
            }
        }

        &-projs {
            &-proj {
                padding: 0 $safeArea;

                &-sub {
                    padding-top: $safeArea*2;
                }

                &-ul {
                    height: $safeArea*14;
                    padding-top: $safeArea;
                }

                li {
                    text-align: center;
                    position: absolute;
                    padding: 0;

                    &:nth-child(1) { transform: translate(-3vw, 1%); } //n
                    &:nth-child(2) { transform: translate(22vw, 50%); } //14
                    &:nth-child(3) { transform: translate(-25vw, 140%); } //red
                    &:nth-child(4) { transform: translate(-40vw, 200%); } //det
                    &:nth-child(5) { transform: translate(4vw, 220%); } //port
                    &:nth-child(6) { transform: translate(-15vw, 380%); } //ps
                    &:nth-child(7) { transform: translate(30vw, 350%); } //mo
                    // &:nth-child(8) { transform: translate(-5vw, 500%); } //cm
                }
            }
        }
    }

    @include media(tablet) {
        &-ascii {
            top: 5vw;
            left: auto;
            right: 5vw;
            opacity: 0.8;
        }

        &-article {
            &--contact {
                margin: 0 5vw 5vw;

                .cv-article-in {
                    padding: 5vw;
                    min-height: calc(10vw + #{$asciiSize});
                }
            }
        }

        &-header {
            @extend %cf-tab;
            padding: 25vh 0 $safeArea*4;

            > * {
                float: right;
                width: 50%;
            }
        }
    }
}


.onWeb {
    &-href-item,
    &-link {
        display: inline-block;
    }

    @include media(untilPhablet) {
        &-href-item:nth-child(n+5) {
            display: none;
        }
    }


    &-link {
        margin: $safeArea $safeArea*2 $safeArea 0;

        &:focus {
            box-shadow: none;
        }
    }

    &-icon {
        width: 2rem;
        height: 2rem;
        fill: $clrPrimarySoft;

        .onWeb-link:hover &,
        .onWeb-link:focus & {
            fill: $clrWhite;
        }
    }

    &-dd,
    &-site {
        min-height: $safeArea / 2 * 3;
    }
}


.navCV {
    display: block;
    position: fixed;
    width: 100%;
    left: 0;
    background: $clrDark;
    bottom: -$safeArea*2;
    animation: navCVshow $speed/2 steps(10);
    animation-delay: 2800ms;
    animation-fill-mode: forwards;
    transition: bottom $speed/2;
    text-align: center;
    z-index: 2;
    padding: $safeArea/2 $safeArea/3;

    .navCV-link {
        font-size: $fontXS;
        font-family: $font-mono;
        color: $clrPrimarySoft;

        &:hover {
            @extend %glitchWD;
        }
    }

    @include media(tablet) {
        padding-left: calc(#{$humanWidthTablet} - 5vw);
        text-align: left;
        width: 90vw;
        margin: 0 5vw;

        .navCV-link {
            padding-left: $safeArea*3;
        }
    }
}


@keyframes navCVshow {
    0% { bottom: -$safeArea*2; }
    100% { bottom: 0; }
}

@import "myself/mee";


.psst {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background: $clrLight;
    padding: $safeArea*2 $safeArea/2;
    text-align: center;
    color: $clrBlack;

    &-title {
        font-size: $fontXL;
    }

    &-parag {
        padding: $safeArea 0;
    }

    button {
        margin: 0 $safeArea;

        &:hover {
            animation: glitch 1s steps(100) 1;
        }
    }

    .js-scrolled {
        font-family: $font-mono;
        font-size: $fontXS;
        color: $clrGray;
    }
}
