.chat {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    display: block;
    position: relative;
    padding-bottom: $safeArea*12;
    color: transparent;


    &.jsLoading {
        color: transparent;
        animation: colorIn 1250ms;
        animation-delay: 3s;
        animation-fill-mode: forwards;

        &:before {
            position: absolute;
            left: $safeArea;
            top: -$safeArea;
            content: '';
            animation: doting 1500ms infinite;
        }
    }

    &-nav {
        position: relative;
    }

    &Section {
        padding-bottom: $safeArea*4;
        transition: all 500ms;

        //when user didn't clicked it yet
        &.jsOnNav {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0;
            z-index: 3;

            .chatPart:first-of-type {
                .chatPart {
                    &-title {
                        font-size: $fontM;

                        &:hover {
                            color: $clrLight;
                            animation: glitch 2s steps(100) infinite;
                        }
                    }

                    &-human {
                        width: auto;
                        padding: 0;
                        transition: width 0s 2s, padding 250ms, opacity 1s;
                    }
                }
            }
        }

        &:not(.jsOnNav):nth-of-type(1):nth-last-of-type(2), // [sec] sec
        &:not(.jsOnNav):nth-of-type(1):nth-last-of-type(3), // [sec] sec sec
        &:not(.jsOnNav):nth-of-type(2):nth-last-of-type(2) { // sec [sec] sec
            padding-bottom: $safeArea*2;
        }

        //show btn when page is ready
        &.jsLoading {
            opacity: 0;
        }

        //each section
        &:first-of-type {
            padding-top: 0;
        }
    }

    &Part {
        position: relative;
        padding-left: $safeArea;
        padding-bottom: $safeArea*2;
        width: 100%;
        @extend %cf;

        //each section
        &:first-of-type {
            .chatPart {
                &-human,
                &-bot {
                    padding-top: 0;
                }

                &-human {
                    display: block;
                    border-right: none;
                    transition: padding 250ms;
                    opacity: 1;
                    animation: none;
                    animation-delay: 0;
                }

                &-title {
                    font-size: $fontXL;
                    font-weight: $fBold;
                }

                &-bot {
                    animation-delay: 150ms;
                }

                &-text {
                    width: 100%;
                    padding-top: $safeArea/2;
                }
            }
        }

        // human part with titles
        &-human {
            width: 100%;
            background: $clrLight;
            padding: 0;
            overflow: hidden;
            display: none;
            opacity: 0;
            animation: showText 500ms steps(7);
            animation-fill-mode: forwards;
            animation-delay: 200ms;
        }

        &-title {
            display: inline-block;
            font-family: $font-mono;
            font-size: $fontM;
            font-weight: $fBold;
            color: $clrPrimary;
        }


        //bot part with text and options
        &-bot {
            width: 100%;
            max-width: $chatBotWidth;
            padding: 0;
            display: none;
            @extend %cf;

            opacity: 0;
            animation: showText 350ms steps(8);
            animation-fill-mode: forwards;
            animation-delay: 550ms;
        }


        &-text {
            width: 100%;
            font-weight: $fReg;
            font-size: $fontL;
            padding: 0 $safeArea $safeArea;
            color: $clrGray;

            strong {
                font-weight: inherit;
                color: $clrDark;
            }

            &.jsLoading {
                opacity: 0;
            }
        }

        // btns
        &-option {
            display: inline-block;
            overflow: hidden;
            opacity: 1;
            padding-right: $safeArea;
            transition: all 250ms;
            height: $safeArea*1.5;

            > * {
                white-space: nowrap; //NOTE: it's dangerous but it's to prevent margin transition break
                margin-left: 0;
                opacity: 1;
                transition: margin opacity 500ms;

                .jsLoading {
                    margin-left: -100%;
                    opacity: 0;
                }
            }

            &.remove {
                height: 1px;
                opacity: 0;
            }
        }

        &--jsLast {
            .chatPart-text {
                color: $clrDark;
            }
        }
    }
}

@include media(phablet) {
    .chat {

        &.jsLoading {
            &:before {
                @include fallback(left, 45%, calc(#{$humanWidthPhablet} + #{$safeArea*3}));
            }
        }

        &Section {
            padding: $safeArea*2 0;
        }

        &Part {
            &-human {
                width: $humanWidthPhablet;
            }
            &-bot {
                width: $botWidthPhablet;
                padding: $safeArea $safeArea $safeArea*3 $safeArea*3;
            }
        }
    }
}

@include media(tablet) {
    .chat {
        @include fallback(padding-bottom, 100px, 50vh);

        &.jsLoading {
            &:before {
                @include fallback(left, 45%, calc(#{$humanWidthLap} + #{$safeArea*3}));
            }
        }

        &-nav {
            .chatSection {
                &:not(.jsOnNav),
                &:not(.jsOnNav):nth-of-type(1):nth-last-of-type(2), // [sec] sec
                &:not(.jsOnNav):nth-of-type(1):nth-last-of-type(3), // [sec] sec sec
                &:not(.jsOnNav):nth-of-type(2):nth-last-of-type(2) { // sec [sec] sec
                    padding-bottom: $safeArea*10;
                }
            }
        }

        &Section {
            &.jsOnNav {
                left: $humanWidthLap;

                .chatPart:first-of-type {
                    .chatPart {
                        &-title {
                            font-size: $fontL;
                        }
                    }
                }
            }

            &:not(.jsOnNav):last-of-type {
                padding-bottom: $safeArea*5;
            }
        }

        &Part {
            padding-left: 0;
            padding-bottom: 0;

            &-human {
                width: $humanWidthTablet;
                padding: $safeArea 0 $safeArea $safeArea;
                text-align: right;
            }

            &-title {
                transition: margin $speed*2;
                margin-right: 0;

                &.jsLoading {
                    margin-left: 0;
                    margin-right: -100%;
                }
            }

            &-bot {
                width: $botWidthTablet;
                max-width: $chatBotWidthTab;
            }

            &-text {
                padding: 0;
                padding-bottom: $safeArea;
            }

            &-option {
                display: inline-block;
                width: 0;
                padding: 0;
                transition: width 250ms;

                &.jsLoading {
                    width: 49%;
                }
            }

        }
    }
}

@keyframes doting {
    0% {content: ".";}
    10% {content: ". .";}
    20% {content: ". . .";}
    30% {content: ". .";}
    40% {content: ".";}
    50% {content: "";}
}

@keyframes colorIn {
    0%  {color: transparent;}
    100%  {color: $clrPrimary;}
}

@keyframes showText {
    0% {opacity: 0;}
    20% {opacity: 0;}
    25% {opacity: 1;}
    45% {opacity: 1;}
    55% {opacity: 0;}
    75% {opacity: 1;}
    90% {opacity: 0;}
    100% {opacity: 1;}
}
