.chat {
    width: 100%;
    margin: auto;
    padding-bottom: $safeArea*4;
    display: block;
    position: relative;

    &-nav {
        position: relative;

        .chatSection {
            &:not(.jsOnNav),
            &:not(.jsOnNav):nth-of-type(1):nth-last-of-type(2), // [sec] sec
            &:not(.jsOnNav):nth-of-type(1):nth-last-of-type(3), // [sec] sec sec
            &:not(.jsOnNav):nth-of-type(2):nth-last-of-type(2) { // sec [sec] sec
                padding-bottom: $safeArea*10;
            }
        }
    }

    &Section {
        padding: $safeArea*2 0;
        transition: all 500ms;

        //when user didn't clicked it yet
        &.jsOnNav {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0;
            z-index: 3;

            .chatPart:first-of-type {
                .chatPart {
                    &-title {
                        font-size: $fontS;

                        &:hover {
                            color: $clrLight;
                            animation: glitch 2s steps(100) infinite;
                        }
                    }

                    &-human {
                        width: auto;
                        padding: 0;
                        padding-left: $safeArea;
                        transition: width 0s 2s, padding 250ms, opacity 1s;
                    }
                }
            }
        }

        &:not(.jsOnNav):last-of-type {
            padding-bottom: $safeArea*5;
        }

        &:not(.jsOnNav):nth-of-type(1):nth-last-of-type(2), // [sec] sec
        &:not(.jsOnNav):nth-of-type(1):nth-last-of-type(3), // [sec] sec sec
        &:not(.jsOnNav):nth-of-type(2):nth-last-of-type(2) { // sec [sec] sec
            padding-bottom: $safeArea*2;
        }

        //show button when page is ready
        &.jsLoading {
            .chatPart:first-of-type {
                .chatPart {
                    &-human {
                        padding-top: $safeArea*2;
                        opacity: 0;
                    }
                }
            }
        }

        //remove properties after jsLoading to get ready to jsOnNav.
        &.jsLoading2 {
            height: 30px;
            overflow: hidden;
        }
    }

    &Part {
        position: relative;
        width: 100%;
        @extend %cf;

        //each section
        &:first-of-type {
            .chatPart {
                &-human,
                &-bot {
                    padding-top: 0;
                }

                &-title {
                    font-size: $fontXL;
                    font-weight: $fBold;
                    transition: font 500ms 250ms;
                }

                &-human {
                    display: block;
                    border-right: none;
                    transition: padding 250ms;
                }

                &-text {
                    padding-top: $safeArea/2;
                }
            }
        }

        &:last-of-type {
            .chatPart {
                &-human,
                &-bot {
                    padding-bottom: 0;
                }
            }
        }

        // human part with titles
        &-human {
            width: 100%;
            padding: $safeArea*2 $safeArea 0 $safeArea;
            overflow: hidden;
            display: none;
        }

        &-title {
            display: inline-block;
            transition: margin $speed*2;
            margin-right: 0;
            font-family: $font-mono;
            font-size: $fontM;
            font-weight: $fBold;
            color: $clrPrimary;

            &.jsLoading {
                margin-right: -100%;
                transition: margin $speed*2;
            }
        }


        //bot part with text and options
        &-bot {
            width: 100%;
            padding: 0;
            overflow: hidden;
            display: none;
        }


        &-text {
            font-weight: $fReg;
            font-size: $fontL;
            opacity: 1;
            transition: opacity $speed;
            padding: 0 $safeArea 0 $safeArea*2;

            &:hover {
                color: $clrDark;
            }

            strong {
                font-weight: inherit;
                color: $clrDark;
            }

            &.jsLoading {
                opacity: 0;
            }
        }

        // btns
        &-option {
            display: inline-block;
            width: 49%;
            padding-top: $safeArea;
            padding-right: $safeArea/2;
            padding-left: $safeArea;
            overflow: hidden;

            &:nth-child(2) {
                position: relative;
                z-index: 2;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        &--jsLast {
            .chatPart-text {
                color: $clrDark;
            }
        }
    }
}

@include media(phablet) {
    .chat {
        &Part {
            &-human {
                width: $humanWidthPhablet;
            }
            &-bot {
                width: $botWidthPhablet;
                max-width: $chatBotWidth;
                padding: $safeArea $safeArea $safeArea $safeArea*3;
                margin-left: -1px;
                border-right: 0;
            }

            &-option {
                padding-right: $safeArea;
            }

            &-role {
                margin: -12px -344px 0 836px;

                &.jsGlitchIn {
                    display: block;
                    margin-left: -44px;
                }
            }

            &-more {
                margin: -12px 2px -12px -152px;
            }

        }
    }

}


#practice-index {
    .chatPart {
        &-bot {
            padding: 0;
        }
    }

    .liIndex-ul {
        display: none;
    }
}

.ifCondition {
    text-align: center;
    padding-top: $safeArea;

    > * {
        font-size: $fontS;
        line-height: $lineHeightM;
    }

    span {
        display: inline-block;
        margin-top: $safeArea/3;
        padding: $safeArea/3 $safeArea*3;
        border-top: 1px solid $clrGray;
        color: $clrPrimary;
        font-style: italic;
        font-family: $font-mono;
    }
}

@include media(tablet) {
    .chat {
        &Section {
            &.jsOnNav {
                left: $humanWidthLap;

                .chatPart:first-of-type {
                    .chatPart {
                        &-title {
                            font-size: $fontL;
                        }

                        &-human {
                            padding-left: $safeArea*2;
                        }
                    }
                }
            }
        }

        &Part {
            &-human {
                padding: $safeArea 0 $safeArea $safeArea;
                text-align: right;
            }

            &-bot {
                padding: $safeArea/2;
            }

            &-text {
                padding: 0;
            }

            &-option {
                padding-left: $safeArea;
            }

        }
    }
}


.liIndex {
    &-ul {
        width: 100%;
    }

    &-liCateg {
        display: inline-block;
        margin-top: $safeArea/2;
    }

    &-categ {
        display: block;
        font-family: $font-mono;
        font-size: $fontS;
        font-weight: $fBold;
        text-transform: uppercase;
        margin-top: $safeArea/2;
    }

    &-liProj {
        display: inline-block;
        margin-top: $safeArea/2;

        .btnP {
            // color: red;
            font-size: $fontS;
        }
    }

    &-sub {
        padding-left: $safeArea/2;
        margin-right: $safeArea/2;
        border-bottom: 1px solid $clrDark;
        display: inline-block;
        height: rem(17);
        font-size: $fontXS;
    }

    &--padding {
        padding: 0 $safeArea;

        .liIndex {
            &-liCateg,
            &-categ {
                margin-top: 0;
            }

            &-liCateg {
                margin-bottom: $safeArea;
            }

            &-liProj {
                button {
                    margin-right: -$safeArea/2;
                    font-size: $fontS;
                }
            }
            &-sub {
                height: rem(18);
            }
        }
    }

}

// dots . . .
.js-loadingRetro {
    position: absolute;
    top: $safeArea;
    padding-left: $safeArea;
    // animation: glitch 2s steps(100) infinite;
}
