%projNavSides {
    position: absolute;
    max-width: none;
    white-space: nowrap;
    height: $safeArea*3;
}

$navSpeed: 250ms;

.proj {
    position: relative;
    width: 100%;
    background: $clrDark;
    color: $clrLight;
    margin: 0 0 $safeArea*2;
    display: none;
    overflow: auto;

    &Nav {
        position: relative;
        height: $safeArea*3+$safeArea/2;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        padding-top: $safeArea+$safeArea/2;

        &-pivot {
            position: absolute;
            width: 2px;
            height: 10px;
            background: red;
            background: transparent;
            left: 0;
            transition: translateX(0px);
            transition: transform $navSpeed ease;
        }

        &-left {
            @extend %projNavSides;
            right: 0;
        }

        &-right {
            @extend %projNavSides;
            left: 0;
        }

        &-btn {
            color: $clrPrimarySoft;
            font-size: $fontS;
            height: $safeArea*2;
            vertical-align: bottom;
            padding-top: $safeArea/2;
            @include fallback(margin-left, $safeArea*8, 9vw);
            transition: color $navSpeed ease, font $navSpeed ease, padding $navSpeed ease;

            &:hover {
                animation: glitch 2s steps(100) infinite;
            }
        }

        .js-active {
            color: $clrWhite;
            font-size: $fontLx;
            padding-top: 0;
        }
    }

    &Cont {
        position: relative;


        &-left {
            width: $humanWidthMob;
        }

        &-subtitle {
            font-family: $font-mono;
            font-size: $fontS;
            margin-top: $safeArea/3;
            // margin-bottom: $safeArea*2;
            padding-left: $safeArea;
        }


        &-links {
            width: 100%;
            padding: $safeArea*2 0 $safeArea*2 $safeArea;
            font-size: $fontS;

            &-option {
                // text-align: center;

                &:not(:last-of-type) {
                    margin-bottom: $safeArea;
                }
            }
        }

        &-media,
        &-about {
            width: 100%;
            max-width: $chatBotWidth;
            // max-width: rem(540);
        }

        &-media {
            img {
                max-width: 100%;
            }
        }

        &-about {
            display: none;
            font-size: $fontS;
            color: $clrGray;
            @extend %cf;
        }

        &-role {
            float: left;
        }

        &-date {
            float: right;
            text-transform: lowercase;
        }

        &-team {
            width: 100%;
            text-align: left;
            font-size: $fontXS;
        }

        &-right {
            width: $botWidthMob;
        }

        &-descript {
            position: relative;
            max-width: $chatBotWidth;

            &-fadeIn {
                display: none;
            }

            &-fadeOut {
                display: none;
            }
        }

        &-intro {
            font-size: $fontLx;
            padding: $safeArea $safeArea $safeArea/2;
        }

        &-details {
            padding: $safeArea/2 $safeArea*2 $safeArea*2;
            color: $clrGrayLight;
        }

    }

    @include media(phablet) {
        &Cont {
            &-media {
                padding-left: $safeArea*2;
            }
        }
    }

    @include media(tablet) {

        &Nav {
            padding-top: $safeArea;
        }

        &Cont {
            @extend %cf-tab;

            &-left {
                width: $humanWidthLap;
                text-align: right;
            }

            &-subtitle {
                margin-top: -$safeArea/3;
                padding-left: 0;
            }

            &-links {
                display: inline-block;
                padding: $safeArea*2 0 $safeArea*2 $safeArea;

                > :last-child:not(:first-child) {
                    margin-left: $safeArea*3;
                }

                &-option {
                    display: inline-block;
                    &:not(:last-of-type) {
                        margin: 0;
                    }
                }
            }

            &-media,
            &-about {
                max-width: rem(450);
                padding-left: $safeArea;
                display: inline-block;
            }

            &-about {
                padding-bottom: $safeArea*2;
            }

            &-right {
                width: $botWidthLap;
                max-width: $chatBotWidthTab+$safeArea*3;
                padding: 0 $safeArea*3;
            }

            &-intro {
                padding: 0;
                padding-top: $safeArea*2.5;
                font-size: $fontXL;
            }

            &-details {
                margin: $safeArea*2 0;
                padding: 0;
                line-height: $lineHeightL;
            }
        }
    }
}



.Glidder {
    position: relative;

    img {
        width: 100%;
        opacity: 1;

        &:not(:first-of-type) {
            position: absolute;
            left: 0; top: 0;
        }
    }
}


$glidderLength: 4;
$glidderTime: 10;

.Glidder img {
    animation: glidder #{$glidderTime}s infinite;
}


@for $i from 1 through $glidderLength {
    .Glidder img:nth-of-type(#{$i}) {
        animation-delay: -$i*($glidderTime/$glidderLength)*1000ms;
    }
}

@keyframes glidder {
    0% {z-index: 0;}
    20% {z-index: 2;}
    24% {z-index: 2; left: 0;}
    26% {z-index: 2; left: -$safeArea/5;}
    27% {z-index: 2; left: 0; top: 0}
    30% {z-index: 2; left: 0; top: 0}
    31% {z-index: -1; left: $safeArea/4; top: $safeArea/4;}
    31.5% {z-index: 2; left: $safeArea/2; top: $safeArea;}
    32.5% {z-index: 2; left: -$safeArea;}
    33.5% {z-index: -1; left: $safeArea*3/2;}
    34% {z-index: -1; left: $safeArea/4; top: $safeArea/4;}
    35% {z-index: -1;}
    100%  {z-index: 0;}
}


.bot-nav {
    display: block;
    width: 100%;
    text-align: center;
    font-size: $fontXS;
    color: $clrGray;
    height: $safeArea;
    padding-top: $safeArea/2;
    margin-bottom: -$safeArea+$safeArea/2;
    transition: opacity 150ms ease;
    opacity: 1;

    span {
        color: $clrPrimarySoft;
    }

    .jsLoading {
        opacity: 0;
    }
}
