/*------------------------------------*\
#CLASSES TO JS MANIPULATION

// note: it is very important that you don't change the order

\*------------------------------------*/


.js-loading-finished {
    opacity: 0;
    transition: opacity $speed*2 ease-out;
}

.js-invert {
    filter: invert(100%) !important;

    img {
        filter: invert(0%) !important;
    }
}
