/*------------------------------------*\
#VARIABLES AND MIXINS
\*------------------------------------*/

$type0: 'Open Sans', sans-serif;
$type1: 'Roboto Mono', monospace;

$safeArea: 12px;
$marginM: 12px;
$borderWidth: 2px;
$marginTopPage: $safeArea*4+4px;


// clr = color
$clr-form: #000;
$clr-form-lighter: lighten($clr-form, 80%);
$clr-space: #fff;
$gray: #838383;
$clr-space-lvl1: darken($clr-space, 2%);
$clr-space-lvl2: darken($clr-space, 4%);
// $clr-space-lvl3: darken($clr-space, 6%);

$myColor: #19babf;


$border: $borderWidth solid;
$border-clr-form-lighter: $borderWidth/2 solid $clr-form-lighter;


$speed: 250ms;


$footerHeight: 100px;

$phablet-width: 410px;
$tablet-width: 650px;
$desktop-width: 850px;


$textXXL: xx-large;
$textXL: x-large;
$textL: large;
$textM: medium;
$textS: small;
$textXS: x-small;

$lineHeightS: 1.2;
$lineHeightM: 1.5;

$fablet-width: 410px;
$tablet-width: 650px;
$desktop-width: 850px;

//transition
@mixin transition($speed) {
    transition: all $speed ease-in-out;
}

@mixin squeeze {
    letter-spacing: 2pt;
    font-weight: 400;
}

@mixin centerxy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centerx {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin centery {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin flexbox {
    display: flex;

    & > * {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        // this is to prevent bugs on IE9 10 11
    }
}

@mixin flexrow {
    flex-direction: row;
    // flex-wrap: wrap;
}

@mixin flexcol {
    flex-direction: column;
    // flex-wrap: nowrap;
}


//mediaqueries
@mixin phablet {
    @media (min-width: #{$phablet-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) and (min-height:600px) {
        @content;
    }
}
