/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

$clrPrimary: #008080;
$clrPrimarySoft: #00e8e8;
$clrPrimaryDark: #004040; //darken($clrPrimary, 15%);

$clrBlack: #000;
$clrDark: #121212;
$clrGrayDarker: lighten($clrDark, 10%);
$clrGray: lighten($clrDark, 40%);
$clrGrayLight: lighten($clrDark, 70%);
$clrGrayLighter: lighten($clrDark, 85%);
$clrLight: lighten($clrDark, 88%);
$clrWhite: #fff;

$borderWidth: 1px;
$borderradius: 0;
$border: $borderWidth solid;
$boxShadow: 0 0 0 1px;

@function rem($px) {
    // 1rem --> 16px
    // xrem --> $px
    $rem: $px * 1rem / 16;
    @return $rem;
}

@function em($px) {
    // 1rem --> 16px
    // xrem --> $px
    $rem: $px * 1em / 16;
    @return $rem;
}

$safeArea: rem(16);
$speed: 250ms;


$font-mono: 'Roboto Mono', monospace;
$font-sans: 'Ubuntu', sans-serif;
$font6XL: rem(84);
$font5XL: rem(68);
$font4XL: rem(54);
$fontXXXXL: rem(42);
// $fontXXXL: rem(38);
$fontXXL: rem(32);
$fontXL: rem(26);
$fontLx: rem(21);
$fontL: rem(18);
$fontM: rem(16);
$fontS: rem(14);
$fontXS: rem(12);
$fontXXS: rem(9);
// $fontXXXXS: rem(5);

$lineHeightS: 1.2;
$lineHeightM: 1.5;
$lineHeightL: 1.7;

$fReg: 300;
$fMed: 400;
$fBold: 700;


$humanWidthMob: 100%;
$botWidthMob: 100%;

$humanWidthPhablet: $humanWidthMob;
$botWidthPhablet: $botWidthMob;

$humanWidthTablet: 40%;
$botWidthTablet: 60%;


$humanWidthLap: $humanWidthTablet;
$botWidthLap: $botWidthTablet;

$chatBotWidth: rem(620);
$chatBotWidthTab: rem(520);


/*------------------------------------*\
    @mixins / &placeholder / functions

    > @function calculate rem
    > @media queries
    > @position centerxy
    > flexbox vs floats
    > calc
    > %retina2x
    > others
\*------------------------------------*/


/*------------------------------------*\
    #MEDIA QUERIES
\*------------------------------------*/

$i4-height: em(440);
$i5-height: em(470);
$mobile-width: em(450);
$phablet-width: em(550);
$tablet-width: em(750);
$laptop-width: em(1000);
$desktop-width: em(1600);
$mediaHeight: em(400);

@mixin media($media) {

    @if $media == iphone4 {
        @media (max-height: #{$i4-height}) {
            @content;
        }
    }

    @if $media == iphone5 {
        @media (max-height: #{$i5-height}) {
            @content;
        }
    }

    @if $media == untilPhablet {
        @media (max-width: #{$phablet-width - em(1)}) {
            @content;
        }
    }

    @if $media == mobile {
        @media (min-width: $mobile-width) {
            @content;
        }
    }

    @if $media == phablet {
        @media (min-width: $phablet-width) {
            @content;
        }
    }

    @if $media == tablet {
        @media (min-width: $tablet-width) and (min-height: $mediaHeight) {
            @content;
        }
    }

    @if $media == laptop {
        @media (min-width: $laptop-width) and (min-height: $mediaHeight) {
            @content;
        }
    }

    @if $media == desktop {
        @media (min-width: $desktop-width) and (min-height: $mediaHeight) {
            @content;
        }
    }
}


/*------------------------------------*\
    #POSITION
\*------------------------------------*/
@mixin centerxy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centerx {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin centery {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/*------------------------------------*\
    #FLEXBOX & CLEARFIX
\*------------------------------------*/

@mixin cf {
    *zoom: 1;

	&::before,
	&::after {
	    content: "";
	    display: table;
	}

	&::after {
	    clear: both;
	}

    > * {
        float: left;
    }
}

%cf {
    @include cf;
}


@mixin flexbox() {
    display: flex;

    // prevent bugs on IE 10 11
    & > * {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
    }
}

%flexbox {
    @include flexbox;
}

@include media(mobile) {
    %flexbox-mob {
        @include flexbox;
    }
}

@include media(untilPhablet) {
    %cf-untPha {
        @include cf;
    }
}

@include media(phablet) {
    %flexbox-pha {
        @include flexbox;
    }

    %cf-pha {
        @include cf;
    }
}
@include media(tablet) {
    %flexbox-tab {
        @include flexbox;
    }

    %cf-tab {
        @include cf;
    }
}
@include media(laptop) {
    %flexbox-lap {
        @include flexbox;
    }
}


/*------------------------------------*\
    #IMG RETINA
\*------------------------------------*/
@mixin bgImg2x($file, $type) {
    background-image: url($file + '.' + $type);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        & {
            background-image: url($file + '@2x.' + $type);
        }
    }
}
// ex: @include bgImg2x('../../media/images/passenger-back', jpg);


/*------------------------------------*\
    #GLITCH WD
\*------------------------------------*/

%glitchWD {
    animation: glitch 2s steps(100) infinite;
}
